[2011-05-23 00:34] jeremyckahn opened #1 "Pause state control"
Users need to be able to toggle the pause state on a tween.

[code]

[2011-06-10 01:08] #1 closed, assigned to nobody

[2011-06-11 18:20] jeremyckahn opened #2 "Needs a "to" function"
You shouldn't always have to specify a `from` state for each tween, `Tweenable`s should be smart enough to tween from their most recent state.

[2011-06-24 16:43] joelambert opened #3 "New interpolate API proposal"
Hi,

I love the idea of Shifty and how it only deals with generating interpolated values but not doing anything with them, this is perfect for my use case!

Unfortunately I can't quite figure out how to make it work with my code with the current API.

What I'd love to be able to do is the following:

[code]

or

[code]

So an example of this would be:

[code]

The return value of the function shou

[2011-06-24 18:31] jeremyckahn opened #4 "Wrap the formula methods to support Scripty2 syntax"
It would be helpful if the tweening methods supported a simpler for non-`Tweenable` use syntax.  This wrapper method should be attached to the public `util` property:

[code]

[2011-06-25 17:12] #3 closed, assigned to nobody

[2011-06-25 18:23] joelambert opened #6 "Color plugin fails if there is whitespace in the string"
The color outputted isn't a valid string when there is whitespace in the input string.

e.g.

[code]

The output is either `NaN` or `NaNrgb(255, 0, 0)`

This is an issue as its how WebKit browsers format the colour param of an element. I suspect this should be an easy fix, just clean the string on initialisation?

[code]

[2011-06-26 11:50] #6 closed, assigned to nobody

[2011-06-28 01:34] #4 closed, assigned to nobody

[2011-06-30 18:11] jeremyckahn opened #8 "Replace "px" extension with generic token-replace extension"
More formats than `px` should be supported.  I need to replace that extension with an extension that will filter all value-token types.

[2011-06-30 18:12] jeremyckahn opened #9 "-box-shadow and -border-radius filter"
More complex CSS3 formats should be supported.

[2011-07-03 19:51] #8 closed, assigned to nobody

[2011-07-06 00:30] #2 closed, assigned to nobody

[2011-07-07 03:12] jeremyckahn opened #10 "User needs to call init()?"
I need to see if I can skip the `init()` step and just call the logic in the constructor.  Suggested by [@JFSIII](http://twitter.com/#!/JFSIII/status/88606631373443072).

[2011-07-08 03:56] #10 closed, assigned to jeremyckahn

[2011-07-11 05:13] jeremyckahn opened #11 "Fix the prototypal inheritance docs"
The "extensibility" portion of the README is wrong.

**Don't follow it**.  I'll fix it when I have some time.

[2011-08-06 19:30] #11 closed, assigned to nobody

[2011-08-06 19:52] jeremyckahn opened #12 "Needs a homepage"
Show some demos, son!

Shifty needs a homepage to show why people should use it.  People shouldn't have to read the README.

[2011-08-30 18:56] 84564221 opened #13 "Licence ?"
please delete

[2011-08-30 18:58] #13 closed, assigned to nobody

[2011-09-19 02:14] #12 closed, assigned to nobody

[2011-10-18 15:33] #9 closed, assigned to nobody

[2011-11-16 06:08] milani opened #14 "Shifty is used in google nexus"
Shifty is used in http://google.com/nexus/ introduction page. You can add it to README.md ;)

[2011-11-16 06:47] #14 closed, assigned to nobody

[2011-12-20 20:31] millermedeiros opened #15 "any plans for AMD support?"
I'm using it on a project where I don't want to generate any globals.

the [UMDJS repository](https://github.com/umdjs/umd) contains different ways of exporting it.

just asking before I implement it..

[2011-12-21 14:28] millermedeiros opened #18 "`step()` should be called with the end value as well"
if you have a tween like:

[code]

the `step` callback never gets called with the value `10` (end value) and I think it should since in many cases the user may not want to set a callback for `complete` as well (if you are handling the changes based only on `step`).

[2011-12-21 14:53] millermedeiros opened #19 "comma-first and lint"
I know you are using Vim, did you considered running node-jshint at each file save? [it will catch comma errors](https://gist.github.com/357981#gistcomment-51425) - [Syntastic plugin](https://github.com/scrooloose/syntastic/) is hightly recommended (it will lint files during save). I also coded a [plugin to enhance the location list](https://github.com/millermedeiros/vim-statline/) with useful inf

[2011-12-21 15:03] millermedeiros opened #20 "named function expressions and IE < 9"
JScript have some issues with [named function expressions](http://kangax.github.com/nfe/) (memory leaks + generates 2 distinct functions) I would probably remove the names since they cause more problems than it solves...

PS: closure compiler already remove the names if they aren't being used anywhere, so no big deal, just a heads up..

[2011-12-21 15:44] millermedeiros opened #23 "shouldn't `callback()` and `step()` receive `state.current` as first argument?"
currently it is being passed as the `this` object but I feel that it should be the first argument instead (to work closer to the way the hooks work), it will also allow setting a different context for the callbacks in the future if needed.

[code]

PS: didn't asked for a pull request since this change will break compatibility with legacy code that depends on `this` inside callbacks and changes are

[2011-12-21 17:16] #18 closed, assigned to nobody

[2011-12-24 01:04] #15 closed, assigned to nobody

[2012-01-03 00:01] #20 closed, assigned to nobody

[2012-01-07 22:45] #23 closed, assigned to nobody

[2012-04-11 04:49] jeremyckahn opened #26 "TODO: Add support for CSS3 translate"
The CSS [translate](https://developer.mozilla.org/en/CSS/transform#translate) properties [don't cause a reflow](http://msdn.microsoft.com/en-us/library/windows/apps/hh849087.aspx), so they are faster. This is a TODO to support them.

[2012-04-12 14:31] amatiasq opened #27 "Javascript extensions"
Hi, I've seen your template to extend Tweenable.

function Cartoon () {
  // Borrow `Tweenable`'s constructor
  this.constructor.call(this);
  console.log('Whoop whoop!  This is my framerate: ', this.fps);
}

// Set `Cartoon` to share `Tweenable`'s prototype
Cartoon.prototype = Tweenable.prototype;
var myCartoon = new Cartoon();

And I see two errors:
##

---
##

1 - Use constructor property to ca

[2012-04-13 05:13] #27 closed, assigned to nobody

[2012-05-09 05:21] #26 closed, assigned to nobody

[2012-05-09 05:22] jeremyckahn opened #28 "requestAnimationFrame"
Might as well support it.

[2012-06-04 15:28] jeremyckahn opened #29 "TODO: Update the README"
The README does not reflect the current state of Shifty as accurately as it could.  Plugin information is outdated, for example.

[2012-07-11 18:36] sigmike opened #30 "invalid assignment left-hand side"
There's an error when the minified version is loaded on Firefox 13.0.1. It works fine on Chromium and IE8.

The error happens when it evaluates `(false=function(){return+(new Date)})` at the beginning of the file. I don't know if the same happens with the non minified version.

You can try it there : http://jsfiddle.net/kuVnu/ (I only copied the minified version into the javascript box).

[2012-07-12 02:22] #30 closed, assigned to nobody

[2012-11-11 21:13] #29 closed, assigned to nobody

[2012-11-26 23:32] jeremyckahn opened #32 "Add organic motion formulae"
http://codepen.io/anon/pen/oCbjf

These may not actually make sense in Shifty's context, but it's something to investigate at the very least.

[2013-01-13 21:47] #19 closed, assigned to nobody

[2013-02-06 21:10] bahmutov opened #33 "Missing license file"
I see MIT license type in package.json, but no separate license file.

[2013-02-07 03:42] #33 closed, assigned to nobody

[2013-08-29 04:13] #28 closed, assigned to nobody

[2013-12-27 23:06] #32 closed, assigned to nobody

[2014-02-26 01:29] jraoult opened #35 "Provide a way to manually define the "scheduling" policy"
Sometimes `requestAnimationFrame` is not usable mainly because of its throtling feature when the window is not visible. That's is usualy fine for UI tweening but for example I'm tweening the volume value of a MediaElement and I don't want this tween to be throttled.

Currently, the internal schedule function is automaticaly picked between RAF and then setTimeout if RAF is not available. Would be g

[2014-03-03 15:24] fr0 opened #36 "Shify.js is incompatible with Date.js"
If Date.js is included first, Shifty breaks.

http://www.datejs.com/

[2014-03-04 03:37] #36 closed, assigned to nobody

[2014-03-31 17:32] unstoppablecarl opened #37 "Add a way to create a Tweenable() instance and set tween() params without starting tween"
I am queuing multiple tweens it would be nice to be able to completely create and configure a tweenable object without starting the tween.

For example I think you should be able to do this (or similar) easily:

[code]

[2014-04-04 13:20] #37 closed, assigned to nobody

[2014-06-11 23:07] bennigraf opened #41 "Tween single value instead of object of values"
Hi there!

It would be nice if one could simply tween only a single value without creating an object of values first, that would save quite some code in my case. I.e.:

`this.tweenable = new twn();
    this.tweenable.tween({
      from:     1.3,
      to:       6.3,
      duration: 1000
    });`

Then `this.tweenable.get()` would return the Number directly.

Or is this function already built in? I

[2014-07-02 02:06] #35 closed, assigned to nobody

[2014-10-14 08:39] ghost opened #42 "More examples please."
The code looks really clean and is extremely readable, but how do you actually use it ?
Please provide some examples in the documentation as well as (at least) one real-world animation example (with multiple tweenable objects). That would be great.

[2014-10-16 07:36] ghost opened #45 "Suggestion: iterate through array."
This would be a great add-on to Shifty:
in the "to" property object, the tweened variables could be arrays (of numbers, strings, whatever), and the engine would iterate through the array's items and return the current value as state.

Example:
var T = (new Tweenable()).setConfig({
  from : { x : 0, y : 0 },
  to : { x : [1, 6, 13, 8, 19, 25, 42, 66, 'ALMOST THERE',  'DONE'], y :100 }
});

It shoul

[2014-10-16 13:21] #45 closed, assigned to nobody

[2014-10-16 14:06] jeremyckahn opened #46 "Tweenable.prototype.seek()"
As per [this comment](https://github.com/jeremyckahn/shifty/issues/45#issuecomment-59359599):

[2014-10-18 18:11] #42 closed, assigned to nobody

[2014-10-18 20:49] #41 closed, assigned to nobody

[2014-10-18 23:40] taye opened #48 ""Bouncing blocks" demo only works in Webkit browsers"
http://codepen.io/jeremyckahn/pen/mnLvB

[code]

The transform style is set only with the Webkit vendor prefix so it doesn't work in other browsers.
<br>
Thanks for putting up the new demos!

[2014-10-19 00:17] #48 closed, assigned to nobody

[2014-10-20 07:06] ghost opened #49 "Feed elapsed time to play/pause/resume/step/stop."
A new "feature" that really needs to get in the library is that of feeding the elapsed time since the tween started (with respect to pauses/resumes) as a (third?) parameter.
Thus, with the attachment and the elapsed time passed to the processing functions we have everything we need to build "magic".

[2014-10-20 08:41] ghost opened #50 "Configuration options for "autostart" and initial "delay"."
A configuration option "autostart" should be added that will allow a tween to not start when it is created, leaving that to the user to decide (calling "start"). The "seek" feature should also work with "autostart: false", and, when the "start" is called on a sought tween, it should behave like a resume from that location. This is a bit deeper, really needs some discussion.

And initial "delay" is

[2014-10-20 12:43] #46 closed, assigned to nobody

[2014-10-21 02:22] #49 closed, assigned to nobody

[2014-10-23 02:48] #50 closed, assigned to nobody

[2014-10-23 08:43] ghost opened #51 "Readme.md needs an update."
Hello.
Readme.md file needs an update with the new features in the given examples. So, when you have a few minutes to spare, please, fill up the text with the missing info.
Thanks and keep up the good work!
Cheers!

[2014-10-23 12:50] #51 closed, assigned to nobody

[2014-10-25 23:43] thednp opened #52 "[Question] Transform multiple transforms simultaneously?"
Does your shifty.js run simultaneous separate tweens? ..say.. one tween with translate and another with rotate for instance? I know this may be impossible but I don't know all your code really well :)

[2014-10-26 00:08] #52 closed, assigned to nobody

[2014-10-27 18:13] stephenmathieson opened #53 "dist: Leaked "SHIFTY_DEBUG_NOW" global"
using this as a dep (via browserify), a global `SHIFTY_DEBUG_NOW` is leaked.  looks like it gets "compiled away" if in `./dist/shifty.min.js`, but not if you're using the un-minified version.

any way we could get rid of the unnecessary global (without using the minified version)?

[2014-10-28 02:28] #53 closed, assigned to nobody

[2014-11-11 07:41] alexkirsz opened #54 "root is empty when using browserify"
When requiring shifty via browserify, the `root` object is set as an empty object. When `Tweenable.prototype.stop` is called, shifty throws

[code]

[2014-11-12 02:11] #54 closed, assigned to jeremyckahn

[2014-11-13 02:52] SBoudrias opened #56 "Tweenable cannot be seeked if not previously played"
The `resume` method is the only place `this._timeoutHandler` get setup.

This mean you cannot create a tween and seek it directly:

[code]

`seek` should probably make sure the tween is configured before it tries playing it.

Also, is there a reason why `seek()` play a tween? For our use case, we just want to use shifty for coordinating animations based on user interaction.

[2014-11-14 00:53] ZainManji opened #57 "Should not be able to seek to a negative value"
If I enter a seek value less than 0, it should default to the properties specified at 0ms.

For example,

[code]

[2014-11-14 02:45] #56 closed, assigned to nobody

[2014-11-14 02:45] #57 closed, assigned to nobody

[2014-11-18 23:20] ZainManji opened #59 "Can't tween with CSS of Transform, -Webkit-Transform, -Moz-Transform, etc"
If I make a Tweenable and specify a tween as the one below, an error comes up when Shifty tries to getFormattedValues from it. I looked into it, and it has to do again with not cloning the returned value from getFormatChunksFrom(rawValues, prop) on Line 1287.

E.g.

[code]

[2014-11-19 02:31] #59 closed, assigned to nobody

[2014-11-20 21:36] ZainManji opened #60 "Timeout Handler not using the correct currentTime"
For the way I want to use Shifty, I want to be able to seek to any point in a Tweenable's duration, but I never really want to seek to the end of the duration since the stop() function will get called in TimeoutHandler and I don't want to stop the tween.

As a result, what I tried to do is check if the millisecond I'm providing the seek function is >= the Tweenable object's duration, and if it is,

[2014-12-16 13:37] kimmobrunfeldt opened #61 "timeoutHandler called at interval after animations"
I'm not sure why this happens but Tweenable's timeoutHandler is called regularly in [ProgressBar.js demo page](http://kimmobrunfeldt.github.io/progressbar.js/) even though animations have finished ages ago. I tried it by setting up a breakpoint to [progressbar.js:181](https://github.com/kimmobrunfeldt/progressbar.js/blob/master/dist/progressbar.js#L181) in the demo page.

Do you have an idea why t

[2014-12-16 14:15] #61 closed, assigned to nobody

[2015-02-17 23:17] SBoudrias opened #62 "Don't retriggers handler when seeking to the same frame"
When seeking through a tweenable, I think it would make sense to not triggers the step handlers if there's no change at the time head.

For example:

[code]

This is easily handled by user side code, but handling this on the side of shifty would make user code cleaner and probably helps to silently improve performances.

[2015-02-17 23:22] SBoudrias opened #63 "Make #seek() a lower level method"
I remember from past discussion that `Tweenable#seek()` wasn't a method designed into shifty when it got created.

As so, when calling `#seek()`, we actually just set the play head to a specific value and triggers a timeout handler.

I believe `#seek()` shouldn't think about scheduling and should simply update the state of the tweenable then call the step methods synchronously.

It might make sens

[2015-02-18 01:13] jeremyckahn commented on #63
I'd be fine with this.  I just want to make sure not to change the API in a backwards-incompatible way.  I think just adding a parameter to optionally disable the scheduling logic should be sufficient.  How do you feel about that approach?

I'm not sure when I can get to this, but it should hopefully be within a few days.  Feel free to make a Pull Request if you need this change before then.

[2015-02-18 01:14] jeremyckahn commented on #62
Good call, I'll get to this soon!

[2015-02-18 01:44] SBoudrias commented on #62
Actually, this is not so easy to handle user side - even more in the setup we have on Yelp where we coordinates multiples tween based off a single one. So yeah, having this by default inside shifty would be very helpful!

[2015-02-18 03:49] jeremyckahn commented on #62
This should be pretty straightforward to do.  I don't have time to implement and test this now, but hopefully in the next day or so.  If you need this sooner, feel free to make a Pull Request.

[2015-02-19 02:59] jeremyckahn commented on #63
@SBoudrias, can you review [this patch](https://github.com/jeremyckahn/shifty/commit/2f64480740e11018de0b8de1a99e2cb715e6ea4d)?  I think it should address the issue.

[2015-02-19 03:08] jeremyckahn commented on #60
@SBoudrias I just noticed this, but [the test you provided](https://github.com/SBoudrias/shifty/compare/failing-test-%2360) doesn't actually make any assertions.  It's currently throwing an error:

[code]

I should have caught this before.  Is ea344c2 actually fixing your problem?  Should the test be updated?

[2015-02-19 03:10] SBoudrias commented on #63
Hey @jeremyckahn I think that'll fix https://github.com/jeremyckahn/shifty/issues/62 correctly.

But for this specific issue, I think we could gain performance if seeking weren't triggering a `timeoutHandler` call.

[2015-02-19 03:12] SBoudrias commented on #60
Yeah the fix have been fixing our issue.

[2015-02-19 03:13] jeremyckahn commented on #63
Oh dang, I was looking at the wrong issue tab in my browser, hah.  I'll make a new branch and move this conversation over to #62.

[2015-02-19 03:15] jeremyckahn commented on #60
Hmm.  I didn't experience this issue myself, so I'm not sure what an effective test might be.  When you have some time, can you try correcting the test to not throw an uncaught error and make an assertion?

[2015-02-19 03:19] jeremyckahn commented on #62
Okay, now I [actually referenced the correct issue](https://github.com/jeremyckahn/shifty/issues/63#issuecomment-74992835).  Please test this out when you can and let me know if it's working for you.

[2015-02-19 03:57] SBoudrias commented on #60
Oh yeah, I can take care of that. I'll try to tackle this one tomorrow.

[2015-02-21 15:18] #60 closed

[2015-02-21 15:20] jeremyckahn commented on #62
@SBoudrias, did you get a chance to test out this fix?

[2015-02-21 20:59] SBoudrias commented on #62
Not yet, we have a bad infrastructure for open source third parties, so it's pretty involving. I should have some time to check it out next week.

[2015-02-23 23:30] Kris-B opened #65 "Delay"
Hi, is there a possibility to define a delay in ms before starting a tween?
I'm aware that it's easy to make it with a timer, but a native shifty feature would be more smart.

Kris

[2015-02-24 01:59] jeremyckahn commented on #65
Hi Kris,

Thanks for your suggestion.  There currently is no delay API, but I agree that it would be a good addition.  Is this something you would like to put together a Pull Request for?  I'd be happy to work with you on it.

[2015-02-26 00:09] Kris-B commented on #65
After a quick review of your code, maybe the delay could be implemented in the tween() function?
This would certainly anwser my simple needs...
And what about pause/resume: should this be possible during the delay duration?
I need some help for the implementation... ;-)

[2015-02-26 01:34] SBoudrias commented on #62
Hey @jeremyckahn, sorry this took so long! Finally got around to test it on Yelp and the fix is resolving the issue described here.

[2015-02-26 04:12] jeremyckahn commented on #62
No problem.  I've merged the fix into `master`, and it is available as version [1.3.11](https://github.com/jeremyckahn/shifty/releases/tag/1.3.11).  Thanks for your help!

[2015-02-26 04:12] #62 closed

[2015-02-26 04:22] jeremyckahn commented on #65
Yes, I think that `tween` is the right place to set up the delay.  You raise a great point about pause/resume affecting the delay, and accounting for that would add a fair amount of complexity to the code.  I'd be fine with a simple implementation that doesn't take pause/resume into account just to get you going.  I'll need some time to review the code and figure out how the rest of this might be

[2015-02-28 18:59] jeremyckahn commented on #65
Okie dokie, I've implemented a delay API.  @Kris-B, can you pull down my [`feature/delay`](https://github.com/jeremyckahn/shifty/tree/feature/delay) branch and give it a try to see if it works for you?  All you need to do is pass a number as a `delay` config parameter to `tween`:

[code]

[2015-03-02 15:26] adrianvoica opened #66 "Look-ahead optimisation, Reusability"
Hi,
It's been a while, but I'm back. :) One does not simply stay away from Shifty.
I have a few power optimisations in the backlog that I want to address.
First of all, just to get warmed up, I want to add support for LOOKAHEAD tables inside Shifty.
Second, I want REUSABLE Tweenables.
I am using Shifty on mobile (PhoneGap) and I want to squeeze every bit of performance out of the webview. But to a

[2015-03-02 16:15] jeremyckahn commented on #66
Hi @adrianvoica, good to hear from you.  I really like this idea!  Performance improvements are always welcomed.  I'm open to incorporating this improvement into the library, so long as it doesn't create backwards-compatibility issues with the API or behavior.  If this significantly increases the size or complexity of the core, it might make sense to turn this into an optional module (like string

[2015-03-02 16:51] adrianvoica commented on #66
Yes, I'm looking into a fully functional Pull Request for lookahead table optimisation. It will not break compatibility in any way. It will just bring a big (or, should I say huge?) performance increase when dealing with many Tweenable instances (as in 50+ independent tweens) - and, let's not forget, battery savings. There's still lots of work to do, but this feature will bring some stamina to the

[2015-03-02 17:51] jeremyckahn commented on #66
Awesome, I'm looking forward to seeing what you come up with!

[2015-03-03 21:33] Kris-B commented on #65
Hi Jeremy, and sorry for this very late reply.
You were faster than me for the implementation... ;-)
I made some tests with the `feature/delay` branch, and it works like a charm.
Many thanks!

[2015-03-04 01:04] adrianvoica opened #67 "Per-property duration value(s)"
Here's a new thing that I want to implement: per-property duration values.
Instead of using
{
 ....
   duration : 1000
  ...
}
we should allow "duration" to be an object with each property specifying its own duration, and, even better, a start delay, something like this:
{
  'x' : [10, 2000],
 'y' : [1000, 500],
 'rot' : [500, 3000]
}
and thus, one Tweenable instance takes care of many properties

[2015-03-04 01:10] adrianvoica commented on #67
For instance, in the "attachment-demo.html" example, instead of using 20 tweenable object (1 for each of the 20 DIV elements), we could then use 1 single, comprehensible Tweenable instance. Less data, less CPU wasted time, more performance, cleaner and tidier code.

[2015-03-04 02:40] jeremyckahn commented on #65
Thanks for checking it out!  I've merge `feature/delay` to `master` and tagged it as [1.4.0](https://github.com/jeremyckahn/shifty/releases/tag/1.4.0).

[2015-03-04 02:40] #65 closed

[2015-03-04 02:56] jeremyckahn commented on #67
Hi @adrianvoica, thanks for filing this issue.  I feel that the timing/sequencing functionality that you are describing goes beyond the scope of what Shifty is meant for.  I imagine that this would bloat the core logic quite a bit.

There are other projects that are built on top of Shifty to provide similar functionality to what you are describing.  You may want to take a look at [ShiftyTimelineAn

[2015-03-04 06:25] adrianvoica commented on #67
Yeah, maybe it would add too much logic.
I think that look-ahead optimization would give it enough juice to work really well in my scenarios, so I'll stick with that, see how it goes.

[2015-03-04 14:12] jeremyckahn commented on #67
Sounds like a plan.  If you come up with an implementation for this ticket that doesn't add too much overhead, we can revisit it.

[2015-03-04 14:12] #67 closed

[2015-03-09 13:34] ghost opened #68 "Keep a TypeScript definition file for Shifty."
While I keep using Javascript for lower-level stuff in the webview, to squeeze out some more horsepower, where applicable, I also use TypeScript as my main programming language for doing the more structured code my phonegap/web/webview-related apps.
That's why I would like to keep an up-to-date TypeScript definition file for Shifty.
Anybody else interested?

[2015-03-09 14:15] jeremyckahn commented on #68
I'd be fine with adding a TypeScript definition to the project.  I haven't used TypeScript, so I can't do much to help the effort, but I will happily accept it if you make a Pull Request!

[2015-03-13 13:29] adrianvoica opened #69 "getInterpolatedValues() does not take "delay" into account."
It seems that getInterpolatedValues() method from shifty.interpolate.js module does not take "delay" factor into account, thus, we are actually left with a fake frame (ahead by "delay" milliseconds). Should we get delay into account?

[2015-03-13 14:11] jeremyckahn commented on #69
Hi @adrianvoica, thanks for reporting.  I don't think that a `delay` value should be taken into account for the `shifty.interpolate.js` extension.  That extension provides a low-level utility that isn't really applicable to a normal time-based tween.  For instance, `interpolate` is the heart of Rekapi, rather than `Tweenable#tween`.

However, I may be misunderstanding you.  Do you mean to say that

[2015-03-13 15:48] adrianvoica commented on #69
Hi @jeremyckahn. Well, the lookup table optimization that I'm doing is based on interpolate.
For instance, I have a tweenable object with start value X = 10, end value X = 20, delay of 500ms and duration of 1000ms. I am expecting that after 500ms from start, X is 10, but without taking delay into account, I get a totally different value (X is 15), which is not quite correct. I hope this example is

[2015-03-13 18:12] jeremyckahn commented on #69
Ok, I think I understand now.  In that case, `interpolate` should account for the delay.  Did you want to try to fix the bug, or should I take a stab at it?

[2015-03-13 19:37] adrianvoica commented on #69
I didn't try to fix it. At most, I would have adapted my code in the lookup optimization code, but the optimal place to fix it, I think, would be in the shifty.interpolate.js file. If you could fix it, it would be super great.

[2015-03-13 19:59] jeremyckahn commented on #69
Ok.  I'll try to fix it this weekend.

[2015-03-14 18:50] jeremyckahn commented on #69
@adrianvoica, I'm having some trouble implementing this.  I have [some tests](https://github.com/jeremyckahn/shifty/commit/077698e03b5df3b2f2246486f39e4e8f015d16d6#diff-46eb058573e3998a7d10ba211eb90223R278) for how the API might work, but I can't seem to get them to pass.  I'm missing something mathematically that's probably pretty simple, can you take a look at my [`delay-interpolate` branch](htt

[2015-03-16 08:26] adrianvoica commented on #69
Yes, I think it can be wrapped in a new release. But on the other hand, I think it would be a good time to halt development of new features and focus completely on performance optimisations, even if code readability has to suffer a bit. I think there is huge room for improvement in speedups and efficiency, and Shifty being at the core of other libraries/tools, it should perform at its highest. I a

[2015-03-16 08:29] adrianvoica commented on #66
Work in progress, going well under schedule. I have found a really good way to use a data-pooling mechanism (share pre-baked data across "registered" tweenable objects) that helps avoid flickering, by avoiding garbage collection - and gaining some real measurable speed increase. Coming soon to a Pull Request. Stay focused.

[2015-03-17 01:50] jeremyckahn commented on #69
That seems like a good idea.  Rather than package up a release to `master`, I just created a [`develop` branch](https://github.com/jeremyckahn/shifty/tree/develop) to hold stable commits that haven't been released (built and tagged).  This is the workflow I use in my job, and it scales well for a team.  I have merged the `feature/delay-interpolate` into `develop` (and subsequently deleted `feature

[2015-03-17 01:50] #69 closed

[2015-03-17 01:52] jeremyckahn commented on #66
Great, thanks for the update!  When you have a Pull Request ready, please merge it into `develop` instead of `master`.

[2015-03-25 19:46] frankred opened #72 "What easing functions are available"
Can't find any documentation about what easing functions are available. Would be nice to have that on the README.md

[2015-03-26 01:33] jeremyckahn commented on #72
Thanks for filing this ticket.  I clarified the functions, currently in the [develop branch](https://github.com/jeremyckahn/shifty/tree/develop#easing-formulas).

[2015-03-26 01:33] #72 closed

[2015-03-26 08:00] frankred commented on #72
Nice! THX

[2015-03-27 11:41] adrianvoica opened #73 "Length checks in some areas of the library could bring some speedups/improvements"
Putting length checks in some methods could bring some speed improvements.
For instance, in the "applyFilter" method, before calling "each" we should first check that the length of "filters" is not 0. It should be both a speed-wise and a memory-wise improvement (the interpreter does not allocate the required resources to bring up the "each" iteration if not required).
There are some more places in

[2015-03-27 13:15] jeremyckahn commented on #73
Hi @adrianvoica, thanks for your suggestion.  This is something I've thought about in the past, but opted not to pursue because the tradeoff between potential performance gains and additional code didn't seem worth it.  Additionally, in cases like the `applyFilter` scenario you mentioned, the code would actually be slowed down (though not significantly) by the attempt to optimize the work pipeline

[2015-03-27 14:58] adrianvoica commented on #73
Yeah, sure. It's up to you to decide if you want to sacrifice a bit of code legibility to performance, but we could bring up some real measurements from jsperf. But what I am talking about is real visual performance (that's actually quantifiable in the Chrome/WebKit/etc. Dev Tools).

[2015-03-27 15:03] adrianvoica commented on #68
Maybe, once finished, this should be kept on [definitelytyped.org repository](https://github.com/borisyankov/DefinitelyTyped) where all the other libraries' definition files are stored.

[2015-03-28 16:23] jeremyckahn commented on #68
Let's keep this open.  Though I don't have any plans to create a TypeScript definition for Shifty myself, anyone else is free to do so.  I consider issues open until it they are determined to be addressed, not useful, or unaddressable.

[2015-03-28 16:26] jeremyckahn commented on #73
I'm totally open to making these changes for the sake of performance — I just want to make sure that we're getting the gains that we're hoping for.  Let's leave this open for now.

[2015-03-30 10:14] adrianvoica opened #74 "Global Shifty utility object"
After further revisiting and digesting the source code of Shifty, I see a real potential for defining a reusable global utility object ("Shifty" sounds like a good name candidate).

Right now, every time a new Tweenable instance is created, a lot of checks are performed, some redundant stuff is added (I'm thinking of the code of each formula).

Instead, a global object (Shifty?) should be added th

[2015-03-30 14:13] jeremyckahn commented on #74
Thanks @adrianvoica, these are definitely good ideas.  I only have two concerns:

  * We need to make sure not to expose a global variable if Shifty is being loaded by a script loader (hence the [UMD shim currently in place](https://github.com/jeremyckahn/shifty/blob/3ee5bb755df76247e9d415ed35aec86a6a26bb6e/src/shifty.core.js#L560-L570)).
  * Unless we export both `Tweenable` and `Shifty` (which I

[2015-04-05 16:40] flyon opened #75 "put default easing options into documentation / github page"
the homepage sais "A collection of Robert Penner's easing functions have been adapted for use with Shifty and are included in the standard distribution.".

.. that's nice, but I cannot find anywhere what those functions are. I only see easeOutQuart,bounce and swingFromTo in the examples

[2015-04-05 17:29] #75 closed

[2015-04-05 17:30] jeremyckahn commented on #75
Fixed and pushed.  Thanks for the suggestion!

[2015-04-05 17:32] flyon commented on #75
quick work! :+1:
tnx for the library, it's working great

[2015-04-05 17:34] jeremyckahn commented on #75
Thanks for the feedback!  I'm glad to know it's working for you.

[2015-04-24 01:37] SBoudrias opened #77 "1.4 breaking seek"
Looks like the 1.4 release is breaking `seek`. Not sure what changed, and I haven't investigated the issue yet.

[2015-04-24 01:45] jeremyckahn commented on #77
Yikes!  Sorry about that.  The unit tests are still passing, so that's a little surprising.  Do you have a test case that reproduces the issue?

[2015-04-24 01:49] jeremyckahn commented on #77
If you don't have one, don't worry about it — I should have some time tomorrow to get to the bottom of this.

[2015-04-24 01:57] SBoudrias commented on #77
I don't have a reduced test case, but I can point you where the bug is.

It's [these lines](https://github.com/jeremyckahn/shifty/blob/master/dist/shifty.js#L105-L108), since the [code do a check on the timestamp](https://github.com/jeremyckahn/shifty/compare/1.3.11...1.4.1#diff-b3fc9765aebaa666bcc8ab44ea96924cR199), the value of `normalizedPosition` is always 0 when it's triggered from a `seek` c

[2015-04-24 02:00] jeremyckahn commented on #77
Got it.  It must be something to do with the recent "delay" functionality.  I'll bet this can be demonstrated with a unit test that utilizes both the delay functionality as well as `seek`.

[2015-04-24 18:49] #77 closed

[2015-04-24 18:54] jeremyckahn commented on #77
I just pushed and released a fix([1.4.2](https://github.com/jeremyckahn/shifty/releases/tag/1.4.2)).  [Careless mistake on my part](https://github.com/jeremyckahn/shifty/commit/b83f272f692472a44f8c21141f89f2245a7a3c23).  Sorry about that.  Thanks for reporting!

[2015-04-27 14:26] adrianvoica commented on #66
You can close/delete this, as it will never happen in Shifty. After I gave it a good thought, it is not in the concerns of Shifty to do this. It might be a new library, concerned with actual frame values for each property, but not Shifty. I am building a (so called) Frame Player with this, as we speak, and I will make it open-source once I have something solid. Cheers.

[2015-04-27 16:14] jeremyckahn commented on #66
That sounds reasonable.  While agree that such an addition doesn't belong in the core, it might be useful as an additional, optional module.  In either case, I look forward to what you come up with in terms of an implementation for this feature!

If it helps, this feature may also be a good fit as an addition to [Rekapi](http://rekapi.com/), which is built on top of Shifty, since that is more conc

[2015-05-03 11:14] kimmobrunfeldt opened #79 "Passing easing as a function"
I was thinking to improve easing support for progressbar.js. Currently it supports only easing strings defined in shifty's formulas. I would like to be able to add support for passing easing as a function. Currently shifty takes a string, or object containing multiple strings. If you want to add new easing functions, they have to be added to prototype.

Could you add possibility to pass easing als

[2015-05-03 11:15] kimmobrunfeldt commented on #79
I can do a pull request, but I think you know the library internals a bit better and shouldn't be a big change :)

[2015-05-03 13:50] jeremyckahn commented on #79
Hi @kimmobrunfeldt, thanks for the suggestion!  I think this feature idea fits pretty well with the library, and shouldn't be too difficult to implement.  I think most of the changes will have to occur in [`composeEasingObject`](https://github.com/jeremyckahn/shifty/blob/b83f272f692472a44f8c21141f89f2245a7a3c23/src/shifty.core.js#L214-L230).  I should have some time today to try this out, I'll let

[2015-05-03 19:33] jeremyckahn commented on #79
Okay @kimmobrunfeldt, I [made an implementation for this feature](https://github.com/jeremyckahn/shifty/compare/develop...feature/per-tween-easing-fn).  Please pull down the `feature/per-tween-easing-fn` branch and let me know how it works for you.  You will need to run `grunt build` to generate the binaries in `dist/`.  If this looks good to you, I will merge to `master` and put out a new release

[2015-05-08 01:17] jeremyckahn commented on #79
@kimmobrunfeldt, have you had a chance to try this out?

[2015-05-08 06:03] kimmobrunfeldt commented on #79
Sorry, I have'nt yet had time to try

[2015-05-21 12:10] adrianvoica commented on #66
I'm back @shifty. So, let's reopen this issue, and I will take care of it. It will be implemented in a module called "FastForward" :). Working on it.

[2015-05-21 13:30] jeremyckahn commented on #66
Sounds great!  I can't wait to see what you have.  Let me know if you'd like any help integrating the feature into the codebase.

[2015-05-23 18:02] jeremyckahn commented on #79
Ping again on this.  Do you think the `feature/per-tween-easing-fn` branch is good to merge?

[2015-05-23 20:59] kimmobrunfeldt commented on #79
Sorry, has been a busy few weeks. Tested this now, problems I found:

Does not work if I have easing function, and also `from` and `to` objects defined. It'll give this error: ```Uncaught TypeError: easingObject[prop].split is not a function```, inside this function:
[code]

I didn't dig deep to your new code but this should also be implemented to be supported in **.interpolate()** functions. I'm

[2015-05-24 02:25] jeremyckahn commented on #79
Oh interesting, looks like my code isn't handling colors properly.  This works:

[code]

But this triggers the exception you found:

[code]

Good catch!  I'll figure out what's going on with this.

[2015-05-24 03:33] jeremyckahn commented on #79
Ok, I just pushed a fix — please give this another try (remember to build first).  `interpolate` [should be supported](https://github.com/jeremyckahn/shifty/commit/2e20c616c63473d08652c77417eac3a5f0731a95).  Fixing the token extension should resolve that issue as well.  If not, please provide some sample code to demonstrate the issue.

[2015-05-30 02:12] jeremyckahn commented on #79
@kimmobrunfeldt, have you had a chance to review my updated branch?

[2015-05-31 19:28] kimmobrunfeldt commented on #79
The basic examples which I tested are now working.

[2015-05-31 19:42] kimmobrunfeldt commented on #79
It's good at least for my needs with progressbar :)

[2015-05-31 23:01] #79 closed

[2015-05-31 23:04] jeremyckahn commented on #79
Thanks for checking!  This is now available in the [`1.5.0` release](https://github.com/jeremyckahn/shifty/releases/tag/1.5.0).

[2015-06-01 07:43] kimmobrunfeldt commented on #79
Great! Thanks. I'll provide this functionality to progressbar.js too when I have time to code.

[2015-06-03 07:51] adrianvoica opened #80 "Frame-based animation support (DOM scenario: sprite sheet background-image shifting)"
What about frame-based animation support right in the "core" of Shifty? It is a very common scenario to make operations (addition/subtraction) by X steps (values/pixels/etc.), something like: every 50ms, shift (decrease) a value by 32 which translates visually into shifting the background image containing the sprite sheet by 32 pixels, to advance to the next sprite-frame.
Please take a moment to t

[2015-06-03 13:18] jeremyckahn commented on #80
Hi @adrianvoica, thanks for the suggestion.  I don't feel that this is something that belongs in the Shifty core library, as it is pretty specific to a particular type of rendering use case.  One of my goals for Shifty is to be renderer-agnostic.  However, I believe that this functionality can be achieved with [a filter](https://github.com/jeremyckahn/shifty#filters).  I think all a filter would n

[2015-06-05 07:00] adrianvoica commented on #80
Actually, it's not frame-based "animation" support, but rather frame-based tweening/stepping support.
Yes, a filter would do the trick. I was thinking maybe at a lower level, but a filter is good enough. You can close this. Cheers!

[2015-06-05 13:31] jeremyckahn commented on #80
Sure!  Just let me know if you'd like to coordinate an "extras" package for non-core, but commonly useful additions like this.

[2015-06-05 13:31] #80 closed

[2015-08-04 00:04] kimmobrunfeldt commented on #79
Support for this is now released in progressbar.js@0.9.0.

[2015-08-04 00:23] jeremyckahn commented on #79
Great, thanks for the update!

[2015-08-28 15:19] Lrnk opened #81 "root is null when module is run in strict mode"
The build process I'm using enforces strict mode on each of the projects dependencies. This causes the .call(null) trick for getting 'this' to be global scope to fail (it contains null).
Do you think this is worth remedying? It would certainly help me! Cheers.

[2015-08-28 17:13] jeremyckahn commented on #81
Hi @Lrnk, thanks for the reporting this!  Yes, this should definitely be addressed.  I haven't seen this issue myself, so it's hard for me to make and test a fix.  Could you please put together a Pull Request (or at least provide steps to reproduce) if it's not too much trouble?

[2015-08-29 01:22] jeremyckahn commented on #81
Fixed by #82.

[2015-08-29 01:22] #81 closed

[2016-01-21 13:16] McFarts opened #83 "Possible to use SetInterval or SetTimout instead?"
I'm using this to render hp orbs in my rpg game. But, when using requestanimationFrame and when u alt tab, or lose focus to the game window (in chrome atleast), request animation screws up the tweening process:

For example going from 2 to 15:
![](https://i.gyazo.com/e5a6c3f98d410e07478745320abfb32b.png)

Once I alt tab, or go to a new page, and then come back... The tween stops and then fires bac

[2016-01-21 14:05] jeremyckahn commented on #83
Hi @McFarts, I'm glad you like Shifty!  You can use `setTimeout` for scheduling with [`setScheduleFunction`](http://jeremyckahn.github.io/shifty/dist/doc/classes/Tweenable.html#method_setScheduleFunction).  However, I strongly recommend using `setTimeout` instead of `setInterval`.  `setInterval` is not recommended to use for animation timing, as "late" intervals stack up excessively and create a p

[2016-01-21 14:05] #83 closed

[2016-01-21 14:20] McFarts commented on #83
@jeremyckahn  I'm having an issue. I set the setScheduleFunction to `setTimeout`, but when you go to a different tab and come back to the window the tween stopped.

[2016-01-21 14:24] jeremyckahn commented on #83
Hm, I'm not sure what the issue might be without seeing the code myself.  I know that the function works, as I've used it myself to solve the same problem that you're having: https://github.com/jeremyckahn/genetic/blob/0302017cf821980308674c897d4b01274dbfa358/app/scripts/genetic.tweenable.js#L25

Keep in mind that the argument to `setScheduleFunction` is a function reference — don't invoke it.  Is

[2016-01-21 14:34] McFarts commented on #83
Hmm. I'm not sure what Genetic Tween is, is that an extension to Shifty? I'll give it a try.

I just changed the `DEFAULT_SCHEDULE_FUNCTION` to ` setTimeout `in the source file.

This is the code I'm using:

[code]

If you run this, and then go to a different tab for 5 seconds after like 100ms after it started and then come back it will show:
![](https://i.gyazo.com/0c0558c4b01533239f79c9b106e6d35

[2016-01-21 14:40] jeremyckahn commented on #83
Ahh.  Sorry, I didn't explain the code I linked to before: I built a small helper on top of Shifty to batch `step` operations in the application I was building.  I was just demonstrating a way to use `setScheduleFunction`.

Anyways, I think the issue with the code you provided is that the tween is not set up to loop.  Shifty tweens run once and then just stop — they do not loop.  One way to fix th

[2016-01-21 14:50] McFarts commented on #83
Hmm. I see now! I am a very functional thinker so the objects/extending / using lodash, and all that  stuff is something I'm not very versed in :(.  I see how you made setScheduleFunction work now. I would of never known that's how'd you do it though. I was just thinking you'd set it to the setTimout or something, lol.

'Shifty tweens run once and then just stop', but the issue is why does it stop

[2016-01-21 16:09] jeremyckahn commented on #83
`setTimeout` callbacks will always execute on time(ish), even if running in an inactive tab.  That's a key differentiator between `setTimeout` and `requestAnimationFrame`.  `requestAnimationFrame` callbacks are delayed significantly by the browser when running in an inactive tab.

The code sample you provided has a `duration` of 1000 milliseconds.  Perhaps the tween is just completing sooner than

[2016-01-21 16:32] McFarts commented on #83
We're f'd. (Excuse my language).

Look here:

https://jsfiddle.net/Dillybob/15aa0sm9/1/

Press run, quickly go to a different tab, then come back.  Looks like the browser's have nerfed setInterval as well, which doesn't update on a unFocused tab. What a joke.  I guess there is no way around this.

[2016-01-21 16:35] jeremyckahn commented on #83
Maybe try `setTimeout`?  I'm not sure how `setInterval` might handle inactive tabs, I haven't used that function in years.

[2016-01-21 20:47] McFarts commented on #83
@jeremyckahn  I did some researching.

I switched and used the script inside Web-Workers instead and just passed the data through web workers `postMessage` method.  Runs fine when alt-tabbed, but it utilizes another thread. But that's okay :)

All is good, thanks for sticking with me ~

[2016-01-21 21:49] jeremyckahn commented on #83
That's... a very interesting way to solve the problem.  Nice!

I'm really surprised the `setTimeout`'s accuracy is affected by deactivating the browser tab.  This feels like somewhat new browser behavior.  Thanks for following up.

[2016-01-21 21:58] jeremyckahn commented on #83
Going back to this project for a moment: https://github.com/jeremyckahn/genetic (let it run for a minute or so to see some activity)

Granted, it's hard to tell what is going on if you don't know anything about the project, but the point is that the dots continue to update when I switch to another tab.  Genetic is using Shifty and `setTimeout` for the animation.  Therefore, I am somewhat confused

[2016-01-22 00:01] McFarts commented on #83
I think it has something to do with the way we (or you) use time.

http://stackoverflow.com/a/5927432/1254837

`Just make your animation function tick by elapsed time in the real world.`  If the loop is running off the real world time, when switching tabs it doesn't affect it. But, when just using normal setTimeout or setInterval it does.  From what I got it anyways, lol.  But, yeah.

[2016-01-22 01:23] jeremyckahn commented on #83
Shifty calculates its per-tick state based on actual time elapsed: https://github.com/jeremyckahn/shifty/blob/e6a0cf6d532bbdffd9ab98385d370568945fa6f0/src/shifty.core.js#L184

The issue isn't the accuracy of the computed tween state, the issue is updates not happening as frequently as desired.  It looks like this isn't something that can be accounted for outside of a solution like the one you foun

[2016-01-22 09:04] McFarts commented on #83
Hmm seems odd. Most likely it's on my end though! Haha.

[2016-02-09 18:18] ABM-Dan opened #84 "Remove exclamation marks from comment blocks"
Considering how thislibrary is distributed when minified, it doesn't make much sense for all the jsdoc comment blocks to use /*!, can we please remove them so more minifiers will work properly?

[2016-02-09 18:45] jeremyckahn commented on #84
Hi @ABM-Dan, thanks for filing this ticket.  The `/!*` blocks are necessary to prevent [`yuidoc`](https://github.com/jeremyckahn/shifty/blob/01ea2a611f207d7acebdd757ea7346f29c243192/Gruntfile.js#L113-L125) from rendering [private function annotation blocks](https://github.com/jeremyckahn/shifty/blob/01ea2a611f207d7acebdd757ea7346f29c243192/src/shifty.core.js#L43).  I'm not sure how else this might

[2016-02-09 18:48] ABM-Dan commented on #84
No clue to be honest, but this is possibly the only js library to behave like this, have you investigated other libraries for similar approaches?

[2016-02-09 18:51] ABM-Dan commented on #84
Maybe using @private ?

[2016-02-09 19:44] jeremyckahn commented on #84
We can't use `@private`, because then those functions will show up in the "private" section of the generated docs, which is not preferable.  Probably the easiest thing to do is replace the `@` annotations with `#` or something else that YUIDoc doesn't recognize.  Can you use the `dist` files in your build process in the meantime?

[2016-02-09 19:47] ABM-Dan commented on #84
YUIDoc says

Did you test it already? Does it indeed create an empty mention?

[2016-02-09 19:52] jeremyckahn commented on #84
Oh hey!  That works out nicely.  What I mentioned about rendering the `@private` methods was something I was recalling from memory, so I could be wrong.  If it's as simple as switching to `@private`, then so much the better.  I'll test this out when I have a little time — if it works, I'll convert the annotations.

[2016-02-09 19:53] ABM-Dan commented on #84
Let's hope it does :)

[2016-02-10 02:43] jeremyckahn commented on #84
@ABM-Dan, please review the referenced PR.  If it looks good to you, I will build it into a new release.

[2016-02-10 16:05] ABM-Dan commented on #84
This is pretty much perfect.

[2016-02-10 16:06] jeremyckahn commented on #84
Great!  I should have a chance to put together a new release in the next day or two.

[2016-02-10 16:07] ABM-Dan commented on #84
It didn't wreck the API tho, right?

[2016-02-10 16:08] jeremyckahn commented on #84
No, it seems to be working just fine.  I think I was incorrectly recalling a quirk about the documentation tool that I was using before YUIDoc.  YUIDoc is much better!

[2016-02-11 04:00] jeremyckahn commented on #84
Released as [1.5.2](https://github.com/jeremyckahn/shifty/releases/tag/1.5.2) thanks again for reporting!

[2016-02-11 04:00] #84 closed

[2016-02-11 15:29] ABM-Dan commented on #84
No, thank you!

[2016-03-14 01:40] kimmobrunfeldt opened #86 "Is calling dispose() mandatory?"
Hi,

Is calling .dispose() mandatory when I no longer need the tweenable object? Shouldn't GC automatically remove the tweenable object when references to the tweenable are gone. E.g.:

[code]

[2016-03-14 01:47] jeremyckahn commented on #86
Hi @kimmobrunfeldt, calling `dispose` is not mandatory, generally speaking.  I mainly added that method so that it could be inherited and overridden if necessary by objects that extend `Tweenable`.  I felt that a base object should provide some form of a cleanup method.  If removing it fixes https://github.com/kimmobrunfeldt/progressbar.js/issues/107, it should be safe to do so.

[2016-03-14 01:47] #86 closed

[2016-03-14 14:07] kimmobrunfeldt commented on #86
Great, thanks for the quick reply!

[2016-04-22 02:03] jeremyckahn opened #87 "Batch tween updates"
As shown in bdowning/retween#1, batching tween updates can improve performance significantly.  Shifty should update all instances in one global batched update operation.

[2016-04-22 02:22] jeremyckahn commented on #87
Sample implementation of this feature: https://github.com/bdowning/shifty/commit/e7a7eeac5801b6b3c412177db9d609722e0ec08d

[2016-09-30 20:13] donmccurdy opened #88 "Current browser compatibility?"
Which browsers are supported by shifty? I see that you've used a fallback for `requestAnimationFrame`, so I would assume that IE9 is safe... If that's the case it would be helpful to have this information included in the readme. Thanks!

[2016-09-30 21:37] jeremyckahn commented on #88
Hi @donmccurdy, Shifty should support IE6 and up, as well as all modern browsers. I'll update the README when I get a moment!

[2016-09-30 23:28] donmccurdy commented on #88
Great, thanks!

[2016-10-01 02:03] jeremyckahn commented on #88
I haven't tested oldIE compatibility in quite a while, and it seems some tests are failing in my IE8 VM.  And, I can't even get my IE6 VM to run since it's been so long since I needed it, hah.  I'm assuming (perhaps unwisely, but confidently nonetheless) that IE9 is fine, because there probably would have been a bug reported by now if not.

I don't have an IE9 VM handy to test this with right now,

[2016-10-03 21:44] #88 closed

[2016-10-03 21:46] jeremyckahn commented on #88
Well how about that!  There was a bug that affected IE8 and 9.  Thank you for filing this issue, because I might not have found that otherwise.  A fix has been made and released in [1.5.3](https://github.com/jeremyckahn/shifty/releases/tag/1.5.3).  Please upgrade to ensure proper support for those older browsers, and sorry about the hassle!

[2016-10-04 03:46] donmccurdy commented on #88
Awesome, thanks for looking into this! 🙂

[2016-10-27 11:08] acies opened #89 "Effect of delay property unexpected"
Adding a `delay` __pads__ the animation with the initial state for the duration of the delay, making queuing a bit trickier—as the start callback is executed immediately, and the step callback is executed even during the delay period.
Suggest changing `delay` to defer execution of the tween instead.

[2016-10-27 12:48] jeremyckahn commented on #89
Hi @acies, thanks for opening this issue!  The reason that delays "pad" the animation as you described are so that they can be preserved in the case where the tween is paused and played again.  So, this is intentional behavior, but I was sort of guessing at what would be the most intuitive way it might work.

I'm hesitant to change this behavior because that might affect downstream projects that a

[2016-10-27 13:18] Kris-B commented on #89
Hi @jeremyckahn and @acies
I not sure to understand all possible impacts...
Would it still be possible to cancel an animation during `delay` (I'm using `tweenable.stop(false)`for this) ?

[2016-10-27 13:21] jeremyckahn commented on #89
@Kris-B Well, we should certainly aim to retain that functionality if we decide to make this change, and I think it should be possible to do so.

[2016-10-28 11:21] acies commented on #89
Thank you for the response.
You can observe a conflict as a result of this if you initialize multiple tweens simultaneously—the other with a delay—both manipulating the same property. Or if you want to manipulate the same values while waiting, say with a hover.
https://jsfiddle.net/acies/sunv57bb/

My personal opinion is that `start` should indicate when the actual tweening begins, and the `step`

[2016-10-28 12:55] Kris-B commented on #89
After checking my source code, I noticed that changing the current behaviour could have some effects: some code is running in each step callback, even during delay....

[2016-10-28 15:51] jeremyckahn commented on #89
@acies Thank you for putting together that demo!  I can see what you mean more clearly now.

Given that this change would affect users like @Kris-B, and that I have a slight preference for the current behavior, I would prefer to keep this as-is.  However, there should be a way to achieve the behavior you want without any changes to Shifty.  Specifically, start the `second` tween inside of the `fin

[2016-10-28 15:51] #89 closed

[2016-11-15 06:39] philraj opened #90 "shifty.queue.js when installing from npm?"
What's the recommended way to add queueing functionality when installing from npm and loading via Webpack? The docs are a little vague. I can't really tell if this is even a supported use case without custom-building it myself.

[2016-11-15 19:20] jeremyckahn commented on #90
Hi @philraj, thanks for opening this issue.  `shifty.queue.js` was removed from the project quite a while ago, and I am not familiar enough with Webpack to give useful guidance here.  Shifty should be amenable to adding that sort of functionality around it, but it is not built in to any modern versions of the library.

I will close this issue for now, as there is no change that needs to happen to

[2016-11-15 19:20] #90 closed

[2016-11-15 20:38] philraj commented on #90
Yeah fair enough, it would be nice if the docs were updated to reflect that but I understand that time is precious and not always plentiful.

I ended up just making myself a promise wrapper to do some light sequencing. The only issue I'm having is I discovered a bug with the way Shifty checks for initial state before starting a tween.

Let's say if I create a tween by writing
[code]
The step callb

[2016-11-16 14:16] jeremyckahn commented on #90
Sorry for my late replies, I'm particularly busy this week, so I'm a little slow to respond to Github issues.

Thanks for finding and debugging this issue, @philraj!  I'm surprised that this hasn't come up sooner.  I believe your deduction is correct, and rather than change the behavior of `shallowCopy`, I would rather rewrite the line in `setConfig` — it's a safer fix.

This looks like an easy en

[2016-11-16 15:59] philraj commented on #90
Hi, thanks for your reply. I'll see if I can find some time to do a PR, but things just got a little busy for me too so no promises for now.

As for the docs... I think I just made a mistake! I could swear I read the line _"shifty.queue.js is included in shifty.min.js for your convenience"_ somewhere in the docs or the source, but searching for it now all I can find is a result on `searchcode.com`

[2016-11-20 17:32] jeremyckahn commented on #90
FYI @philraj: https://github.com/jeremyckahn/shifty/pull/91

(Please review!)

[2016-11-28 13:50] jeremyckahn commented on #90
@philraj, have you had a chance to review #91?

[2016-11-29 18:15] philraj commented on #90
Sorry, I had to switch to a different project and things have been pretty busy. I'll try to find some time later tonight. Looking at the code though, it seems like it'll work. I'll let you know.

[2016-11-29 23:39] philraj commented on #90
Yep, seems to work now. Had an issue at first but I think it was webpack being tempermental. Thanks!

[2016-11-30 01:27] jeremyckahn commented on #90
Merged.  Thanks for reviewing!

This is now available in [`1.5.4`](https://github.com/jeremyckahn/shifty/releases/tag/1.5.4).

[2017-03-17 12:24] Kris-B opened #92 "question - advanced custom bezier easing"
Hi @jeremyckahn
Is it possible to define a custom bezier easing function which could use other starting-ending points then (0 ; 0) to (1 ; 1)? And maybe with more than 2 points between?

Thanks

[2017-03-18 00:55] jeremyckahn commented on #92
Hi @Kris-B, I haven't seen you on Github for a little while. :)

While there's no high-level Shifty API that that will create an easing curve as complex as what you are describing, the easing subsystem should allow for this.  That is, a more elaborate version of [`shifty.bezier.js`](https://github.com/jeremyckahn/shifty/blob/master/src/shifty.bezier.js) that supports this could be implemented.  Af

[2017-03-25 17:07] jeremyckahn commented on #92
Update: [2.0 is now released](https://github.com/jeremyckahn/shifty/releases/tag/v2.0.1).

Closing this for now; feel free to reopen if you'd like to make a PR.

[2017-03-25 17:07] #92 closed

[2017-03-25 17:08] jeremyckahn commented on #74
This is supported in [2.0](https://github.com/jeremyckahn/shifty/releases/tag/v2.0.1).  Closing!

[2017-03-25 17:08] #74 closed

[2017-05-05 11:29] Kris-B commented on #92
hi @jeremyckahn ;-)

I made some experiments with custom easing functions. Actually, I would like to tween from 0 to 0, and use a bezier function to calculate values between.

To achieve this, I'm using this:
[code]

This works well except for the last value which is always 1 (the "to" value).
Here's a codepen to see it in action: http://codepen.io/Kris-B/pen/ybzPbe

This use is surely borderline

[2017-05-05 13:13] jeremyckahn commented on #92
Hi @Kris-B, I think this is a bit of an unusual use case for Shifty, but you should be able achieve the results you want by tweaking the application code.  Here's a quick fork of your codepen: http://codepen.io/jeremyckahn/pen/wdrjRd

Your `getBezier` code looks interesting.  It would be cool to incorporate that into the library itself, but I don't understand the math enough to say if it's generic

[2017-05-05 17:12] Kris-B commented on #92
I'm far to be a bézier curves expert. I've just started some quick experiments.

Thanks for the modified codepen!

Here's where I found the code : http://13thparallel.com/archive/bezier-curves/

Mike "Pomax" Kamermans wrote a very interesting book about bézier curves: https://pomax.github.io/bezierinfo/

This online tool may also be interesting: https://www.desmos.com/calculator/cahqdxeshd

[2017-05-05 18:05] jeremyckahn commented on #92
Oh, nice!  These links will be SUPER helpful for when I get a chance to expand Shifty's Bezier capabilities (which I'd really like to do at some point).  Thanks for passing these along! 😃

[2017-05-14 14:35] andymans opened #97 "Rollup issue - not working"
When using rollup as a build system, I get the following error:

'tween' is not exported by 'node_modules/shifty/dist/shifty.js'
https://github.com/rollup/rollup/wiki/Troubleshooting#name-is-not-exported-by-module

my import looks like:

import {tween} from 'shifty'

I've looked at your code, and clearly it *is* exported in the source folder. I've been able to resolve the issue by simply copying y

[2017-05-14 18:35] jeremyckahn commented on #97
Hi @andymans, thanks for reporting this! I haven't used Rollup, but I imagine that you're seeing this issue because the files in the `dist` directory are ES5-friendly Webpack build artifacts. It's my understanding that this is the preferred best practice, but there may be a better way to publish ES6-authored NPM packages like Shifty. As an alternative, you could also `import` Shifty's `src/main.js

[2017-05-14 20:15] andymans commented on #97
No probs! Great work on Shifty btw :-)

[2017-05-15 03:05] jeremyckahn commented on #97
Thank you! Having happy users makes it all worthwhile. 🙂

I found [this Rollup wiki page](https://github.com/rollup/rollup/wiki/pkg.module) that looks like a good solution. I'll play with this as soon as I get a chance!

[2017-05-15 13:36] jeremyckahn commented on #97
I'm digging into this now — perhaps the solution is to integrate [rollup-plugin-node-resolve](https://github.com/rollup/rollup-plugin-node-resolve) into your build process?  I'm not sure if it's preferable for libraries like Shifty to provide Rollup/ES6-friendly build artifacts in addition to the more widely-compatible ES5 artifacts, or for downstream projects like yours to tool around the syntax

[2017-06-13 22:26] jeremyckahn opened #98 "Task: Add a code of conduct"
Per https://opensource.com/life/16/3/creating-welcoming-and-inclusive-open-source-space.

[2017-07-21 18:59] louh opened #99 "Shifty will not run when Content Security Policy directive blocks 'unsafe-eval'"
Shifty will be blocked if it's run on a page whose Content Security Policy (CSP) does not permit `'unsafe-eval'`. It seems to be coming from here: https://github.com/jeremyckahn/shifty/blob/master/src/tweenable.js#L9 where `new Function()` is invoked to return the global object.

The issue with allowing `unsafe-eval` for this one case (where it's actually safe, since the function does not involve

[2017-07-21 19:04] louh commented on #99
Oh I see - this was a recent change made in 2.0.3 (via 14facbeab37568eceeb043480a7a504f90c3d3e7). What is it fixing? Just curious.

[2017-07-21 20:27] jeremyckahn commented on #99
Hi @louh, thanks for opening this issue!  To be honest, I can't remember why I made the change in https://github.com/jeremyckahn/shifty/commit/14facbeab37568eceeb043480a7a504f90c3d3e7... which I realize isn't a great answer. 😬  I vaguely remember it being something related to a Webpack/build artifact issue, but I can't honestly recall.

I just tried reverting that line in my local environment, and

[2017-07-21 20:43] jeremyckahn commented on #99
@louh I don't know if Github sent you a notification, but please review/test #100 when you get a chance!

[2017-07-21 22:58] #99 closed

[2017-07-21 23:00] jeremyckahn commented on #99
The fix has been released in [2.2.1](https://github.com/jeremyckahn/shifty/releases/tag/v2.1.1).  Thanks again for reporting!

[2017-07-21 23:34] louh commented on #99
Got it - thanks again so much for your help, and for maintaining this library!

[2018-01-23 03:07] jeremyckahn commented on #97
Closing due to inactivity.

[2018-01-23 03:07] #97 closed

[2018-01-23 14:22] jeremyckahn commented on #73
Since this issue hasn't seen any activity in close to three years and [2.0 has introduced some performance improvements](https://codepen.io/jeremyckahn/pen/prMYXj), I am going to close this.  I'm happy to reopen if anyone is interested in putting together a PR, though!

[2018-01-23 14:22] #73 closed

[2018-01-23 14:24] jeremyckahn commented on #66
I'm closing this due to inactivity, but I'm happy to revisit this if there is a PR!

[2018-01-23 14:24] #66 closed

[2018-03-10 22:19] manniL opened #103 "Add ESM target"
Heyho! Thanks for the awesome package.

Any chance we get an ESM target additionally to UMD and CJS? :relaxed:

[2018-03-10 22:47] jeremyckahn commented on #103
Hi @manniL, thanks for filing an issue!  I'm not really familiar with ESM modules, but I'd be happy to accept a PR so long as it doesn't create any backwards incompatibilities.  Would you be willing to provide a PR for this?

[2018-03-10 22:52] manniL commented on #103
Thanks for the fast response!
Unfortunately, I'm not very familiar with ECMAScript modules as well, but I'm trying to get something up and running for it :blush:

[2018-03-10 22:55] jeremyckahn commented on #103
Sounds like we'll both learn something, then! I'll keep an eye out for your PR and work with you on it. 👍

[2018-03-10 23:35] manniL commented on #103
Short update:

Webpack is not capable of bundling ESM (and the author of webpack suggests [not to bundle ESM](https://github.com/webpack/webpack/issues/5801#issuecomment-335841698). The alternative for bundling it anyway would be Rollup.

To get the desired tree shaking effect, it suffices to import from source instead of importing directly from the dist folder.
![image](https://user-images.github

[2018-03-10 23:43] jeremyckahn commented on #103
Ahh this is reminding me of #97.  I remember I tried getting Rollup to work last year for that ticket, but I think I gave up because I didn't personally have a need for it (so I didn't have a sense of what "done" looked like) and the ticket lost momentum.

It sounds like a build process change may not be necessary and a direct `import` from `src` should get the job done?

It's a bit unclear to me

[2018-03-10 23:57] manniL commented on #103
I see!
Well, I know that Rollup works well for library publishing (for example in the [vue-i18n repo](https://github.com/kazupon/vue-i18n)), but webpack is better for real apps because it supports code splitting very well.

Yeah, as long as the source code is "real ES2015" (without `transform-object-rest-spread` or other proposals), we can import directly from source. Otherwise, there would be a b

[2018-03-11 00:23] jeremyckahn commented on #103
Ok, thanks for the thorough explanation!

⬆️Good to know; I will keep this in mind for Shifty and my other libraries going forward.

It sounds like no change is needed here, so I will close this out.  Thanks for digging into this!

[2018-03-11 00:23] #103 closed

[2018-03-11 00:25] manniL commented on #103
No problem :relaxed:

I've encountered a library where `transform-object-rest-spread` is used and I found out that I can transpile the code on my side as well, which is more tedious, but possible if there is no other way to make tree shaking possible.

[2018-07-12 00:27] aholachek opened #104 "Publish pre-compiled version of shifty so library can be used by projects built with create-react-app"
Hi, thanks for this awesome library, I'm using it as a dependency in a [React animation library I recently worked on](https://github.com/aholachek/react-flip-toolkit).

Because shifty is not currently compiled to ES5 in dist/ it throws an error when someone tries to compile it in certain webpack setups, e.g. those created with create-react-app. [Here's a description of the error.](https://github.c

[2018-07-12 00:35] aholachek commented on #104
wait, nevermind, I think this was due to the way I was importing only certain files from the src/ directory

[2018-07-12 00:35] #104 closed

[2018-07-12 01:13] jeremyckahn commented on #104
😄

Thanks for taking the time to file this issue and dig into it further! react-flip-toolkit looks really cool, and I’m glad to see that Shifty is working well for you. Feel free to open another issue if see an opportunity for improvement to the library!

[2018-08-10 13:13] #87 closed

[2018-11-13 11:17] rodneyrehm opened #105 "Uncaught TypeError: Cannot set property '_next' of null"
Hey there,

thanks for this great library! I'm using Tweenable to run a custom variation of Vue's [List Move Transitions](https://vuejs.org/v2/guide/transitions.html#List-Move-Transitions) and [Staggering List Transitions](https://vuejs.org/v2/guide/transitions.html#Staggering-List-Transitions).

I just tried updating from 2.3.1 to 2.6.0 and now see the following errors:

[code]

traced to

https:

[2018-11-13 14:22] jeremyckahn commented on #105
Hi @rodneyrehm, thanks so much for this great bug report, it's really helpful for diagnosing the issue! It looks like the null reference error is a result of the somewhat recent internal change to a linked list for animation processing that was [introduced for 2.5.0](https://github.com/jeremyckahn/shifty/commit/f983ecebb8382cd3eed72f75541647c13f9bb53f). It was a significant change that I tested as

[2018-11-14 04:11] rodneyrehm commented on #105
I could provide the vue component if that helps you, otherwise the significant bits are:

to execute the transition I run

[code]

when a transition finished I run

[code]

to perform the transition I run (variations of)

[code]

[2018-11-14 05:08] rodneyrehm commented on #105
The error `Uncaught TypeError: Cannot set property '_next' of null` suggests the `remove` operation sometimes can't properly remove an item from the linked list, if the tween doesn't know it's previous element in the list anymore. (no idea how that happens, though, maybe caused by `dispose()` being called?) That would make the item we're trying to remove stick around in the `_next` reference of so

[2018-11-14 16:13] jeremyckahn commented on #105
Thank you for posting the sample code! Without being able to run it as posted above, this appears to be a pretty straightforward use case of Shifty. The one thing that is suspect to me is the call to `tweenable.dispose()`. What happens when you remove that? It is not strictly necessary to call `dispose()`; it's mainly there for the odd times where a degree of manual memory management is desired. I

[2018-11-15 04:48] rodneyrehm commented on #105
I still see the `Uncaught TypeError: Cannot set property '_next' of null` error when an element is supposed to be removed. But now I know why…

Once the promise returned by `tweenable.tween(…)` resolved you cannot call `tweenable.stop(true)` anymore, without getting that `_next of null` error. Because I wasn't handling this situation, my own mapping of element/tweenable wasn't cleaned up properly,

[2018-11-15 14:08] jeremyckahn commented on #105
Ahhh I think I see what's happening here now! I think that [`stop` ](https://github.com/jeremyckahn/shifty/blob/14b7b5711bb481602e9312286c688cb849d2e206/src/tweenable.js#L431-L456) should handle this scenario a little more gracefully. An extra check or two in the internal [`remove`](https://github.com/jeremyckahn/shifty/blob/14b7b5711bb481602e9312286c688cb849d2e206/src/tweenable.js#L172-L199) meth

[2018-11-15 14:19] jeremyckahn commented on #105
This is definitely a bug worth fixing. Here's a simplified reproduction of the issue: https://codepen.io/jeremyckahn/pen/qQmQJJ

The issue happens when you call `stop()` more than once on a `Tweenable` instance _when there is more than one tween currently running_. I'll prioritize a fix!

[2018-11-16 01:58] #105 closed

[2018-11-16 02:01] jeremyckahn commented on #105
This is [fixed in 2.6.1](https://github.com/jeremyckahn/shifty/releases/tag/2.6.1): https://codepen.io/jeremyckahn/pen/Zmyeyo

Please give it a try. Thanks again for reporting and helping to track down this issue, @rodneyrehm!

[2018-12-04 03:29] wheam opened #106 "shifty doesn't work on external display with another macbook"
I have a Acer PE270 display, when I use my macbook pro 2017 15', shifty works fine on the external display, when I use my macbook pro 2017 13',  shifty doesn't work, I dont know why

[2018-12-04 03:32] jeremyckahn commented on #106
Hi @wheam, that’s really bizarre. It kind of sounds like a transient browser issue. Have you tried using a different browser, or perhaps restarting your current one?

Is it just a specific demo/example that doesn’t work?

[2018-12-04 03:45] wheam commented on #106
shifty off with macbook pro 15' , internal display and external display are same
![img_2005](https://user-images.githubusercontent.com/2664774/49417717-e4891680-f7b9-11e8-9abb-4464bb624b31.jpg)

shifty on with macbook pro 15' , internal display and external display are same
![img_2010](https://user-images.githubusercontent.com/2664774/49417719-e521ad00-f7b9-11e8-9bec-861671425d74.jpg)

shifty on w

[2018-12-04 03:49] wheam commented on #106
sorry, the pictures are broken. I mean shifty just works on internal display  but not external display when I use macbook pro 13'.

[2018-12-04 04:03] jeremyckahn commented on #106
That’s truly bizarre. Please do post working images of what you are seeing, or at least share the URL(s) where the issue can be seen – it’s a little hard for me to start understanding what’s going on without at least one of those!

[2018-12-04 04:33] jeremyckahn commented on #106
I believe you are posting to the wrong GitHub project. I think you want https://github.com/thompsonate/Shifty. 🙂

[2018-12-04 04:40] wheam commented on #106
oh，no，sorry

[2018-12-04 11:30] #106 closed

[2018-12-04 16:43] kurtextrem opened #107 "Is there a way to update the `to` coordinates of an animation?"
E.g. I'm calling the tween function whenever the X/Y coordinates have been updated. This may mean though, that the previous animation doesn't finish fast enough. So the `from` stays the same, but the `to` changes. Is this supported here, or would you recommend a different lib?

[2018-12-04 17:10] jeremyckahn commented on #107
Hi @kurtextrem! There's no API in Shifty to specifically achieve what you're describing, but I think you could get the results you're looking for by doing something like the following:

1. Keep track of the `timeElapsed` value in your tween's [`stepFunction`](https://jeremyckahn.github.io/shifty/doc/shifty.html#.stepFunction)
2. Calling [`.stop()`](https://jeremyckahn.github.io/shifty/doc/shifty.T

[2018-12-04 21:30] #107 closed

[2018-12-05 06:47] kurtextrem commented on #107
Thank you. Will try that out.

[2018-12-05 06:49] kurtextrem opened #108 "this._reject is not a function"
While trying out your solution: https://github.com/jeremyckahn/shifty/issues/107#issuecomment-444178869

I've encountered the following error:
Uncaught TypeError: this._reject is not a function shifty:2
    at t.value (shifty.js:2)

it happens when calling `.stop(false)` on an existing tweening instance (created with `new Tweenable`)

(same happens when I call `.stop(true)`, but with the error `th

[2018-12-05 06:54] kurtextrem commented on #108
So this happens when setConfig hasn't been called yet. Not sure if still an issue then. Feel free to close if you don't think it is.

[2018-12-05 14:08] jeremyckahn commented on #108
Hi @kurtextrem, I'd be curious to know what code is causing this error to occur. I can only see this happening if a new tween was started with no parameters and then`.stop()` was called. Assuming that's what's causing this, what is the use case for starting a tween without parameters?

[2018-12-05 17:16] kurtextrem commented on #108
No use case, it simply happened - so as I said feel free to close (in case you don't want to add a warning or so)

[2018-12-05 17:45] jeremyckahn commented on #108
Understood. It sounds like the API was not being used as intended, so I would prefer to make no change at this time. I am open to PRs to change the error handling, though!

I will close this for now. Thanks for reporting this issue, though!

[2018-12-05 17:45] #108 closed

[2019-02-23 15:56] 4ian opened #109 "Manual "step" and multiple Shifty instances"
Hi there!

Thanks for this nice library! Looks really cool and @Wend1go is looking at adding support for it in [GDevelop](https://gdevelop-app.com).
As it's a game engine, I have a few questions to see how we can best integrate the game engine and Shifty:

* Can we instantiate multiple instances of Shifty? A "level" is represented by a "scene" in GDevelop, and multiple scenes can be existing at th

[2019-02-23 18:52] jeremyckahn commented on #109
Hi @4ian, thanks for opening this issue! I've seen GDevelop before; it's a seriously cool project and I'd love to help with integrating Shifty into it! I can see that there's already quite a bit of disussion and exploration [on your end](https://github.com/4ian/GDevelop/pull/922) and I haven't had a chance to get fully caught up, but this is a really cool use case for Shifty so you can count on me

[2019-02-23 21:14] 4ian commented on #109
Hey Jeremy,

Thanks for answering so quickly!
From what I read a "tick" function would be perfect :)

Sure, totally make sense :)

=> {}) and externally calling the public tick/processTweens function as
discussed above.

Yeah that would work I think!

I'm only unsure about pausing all tweens/starting them again between scenes
(that why I was hoping to be able to create multiple instances, so that

[2019-02-23 22:11] jeremyckahn commented on #109
I think this is going to be an issue with the proposed approach. While overriding the control of tick scheduling shouldn't cause any issues, the tweens' individual timelines won't automatically "shift" to account for what seems like global "pause" logic. In other words, Shifty tweens are scheduled around real time. If a tween's `duration` is 1000 milliseconds, Shifty will `stop()` the tween after

[2019-02-23 22:57] jeremyckahn commented on #109
@4ian This is now in the [`feature/109/expose-process-tweens`](https://github.com/jeremyckahn/shifty/compare/feature/109/expose-process-tweens?expand=1) branch. Please pull it down and give it a try! I thought about it some more and actually chose to stick with the `processTweens` name. `tick` implies some sort of timing management that isn't there and `update` seems too vague in the contexts I ex

[2019-02-23 22:58] jeremyckahn commented on #109
Also please keep in mind that you will need to run `npm run build` in order to generate the built files in `dist`.

[2019-02-24 19:17] jeremyckahn commented on #109
I thought about this all some more and I think I might have slightly misinterpreted one of your earlier questions:

While Shifty does support an arbitrary number of `Tweenable` instances, the tween processing logic works as a singleton. While taking control of the scheduling of updates will help with 4ian/GDevelop#922, what's missing in Shifty is any concept of scene management. This is all more o

[2019-02-24 23:10] 4ian commented on #109
Awesome! I'll pull this and build the dist files :)
Thanks for working on this so quick. I had little time this week-end but I'll give it a go this week.

Yes you right, I think we will need this.

That would work I guess, as we could have all tweens in a scene being played while other are paused.

Maybe I'm totally wrong, but what about allowing to have more than one Shifty instance? Not sure wha

[2019-02-25 01:13] jeremyckahn commented on #109
My concern with the "instancing" approach is that it would require significant modification of the batched processing system that was introduced in [the 2.5.0 release](https://github.com/jeremyckahn/shifty/releases/tag/v2.5.0). That release introduced a [singular, internal linked list](https://github.com/jeremyckahn/shifty/blob/acbde2fefc6aad7299014fed788d592e9cb918a1/src/tweenable.js#L28-L29) of

[2019-02-25 01:55] jeremyckahn opened #110 "Scene API"
Per #109, Shifty would benefit from a "Scene" API. The use case is to have multiple sets of tweens managed independently. Here's how it might work:

[code]

This `Scene` object should be lightweight and focus solely on being a convenience utility to manage sets of tweens. It should not be concerned with providing a robust set of features to manage tween sequencing or granular timeline management,

[2019-02-25 02:04] jeremyckahn commented on #110
One limitation that comes to mind is that none of these methods will be able to return a `Promise` like [`tween`](https://jeremyckahn.github.io/shifty/doc/shifty.Tweenable.html#tween) or [`resume`](https://jeremyckahn.github.io/shifty/doc/shifty.Tweenable.html#resume) do. The reason for this is that `addTweenable` and `removeTweenable` may be called while the scene is playing and that would break

[2019-02-25 14:11] jeremyckahn commented on #110
I'm planning to start implementing this pretty soon, but before I do I'm going to modernize the toolchain a bit as Shifty's `devDependencies` are pretty out of date. I'm also probably going to switch the test harness to Jest.

[2019-02-26 00:07] 4ian commented on #110
Make sense to me 👍No concerns over the API as far as I can see.

[2019-02-26 02:39] jeremyckahn commented on #109
This [seems to be working](https://github.com/4ian/GDevelop/pull/922#issuecomment-467240513), and this is a pretty innocuous change, so I just merged and released it: https://github.com/jeremyckahn/shifty/releases/tag/v2.7.0

New API docs: https://jeremyckahn.github.io/shifty/doc/shifty.html#.processTweens

@4ian I hope this helps! Let me know if GDevelop needs anything else. 🙂

[2019-02-26 02:39] #109 closed

[2019-02-26 09:52] 4ian commented on #109
Huge thanks for adding this so quickly. Can confirm [this works properly](https://github.com/4ian/GDevelop/commit/756157b44660234d8e6876ae4ae1d45342a6500a) in GDevelop!

I see, I've see this linked list while initially browsing the source code, so I understand this might get tricky.

Yeah sure, I was more hoping for something that would "just" be a factory function for the whole module, so that no

[2019-03-05 14:18] jeremyckahn opened #111 "Infinite loop/crash when multiple Tweenable instances call .tween multiple times"
I'm still investigating this and haven't figured out all the details, but this issue was discovered [here](https://github.com/4ian/GDevelop/pull/922#issuecomment-469520047).

I'm opening this issue to track progress on a fix.

/cc 4ian/GDevelop#922

[2019-03-06 02:00] jeremyckahn commented on #111
I figured out a consistent reproduction of the bug: https://codepen.io/jeremyckahn/pen/RdoeJb

Apologies about this! I am working out a fix ASAP (though I don't have a time estimate). In the meantime falling back to `2.4.0` seems to be the best stable workaround.

  - https://unpkg.com/shifty@2.4.0/dist/shifty.js
  - https://github.com/jeremyckahn/shifty/releases/tag/v2.4.0

[2019-03-06 03:47] jeremyckahn commented on #111
I'm feeling a bit better with the solution I've got in the works. The linked list removal wasn't cleaning up some references it needed to.

I'll have to come back to this and make sure everything is bullet-proof once I have time again in the next few days.

[2019-03-06 04:13] jeremyckahn commented on #111
For now I've published [`2.7.2-0`](https://unpkg.com/shifty@2.7.2-0/dist/shifty.js) to unblock anyone affected by this issue. I feel that it should be in good shape but I want to make sure to properly review and test these changes before making a full patch release.

[2019-03-07 13:58] jeremyckahn commented on #111
As commented [elsewhere](https://github.com/4ian/GDevelop/pull/922#issuecomment-470531746) I found some issues with this fix and am working on getting it more stable before releasing it. The infinite loop/crashing issues seem to be resolved, though.

[2019-03-07 16:23] jeremyckahn commented on #111
Made some progress in [`2.7.2-1`](https://unpkg.com/shifty@2.7.2-1/dist/shifty.js). Still needs more testing, but this is looking better.

[2019-03-09 03:22] #111 closed

[2019-03-09 03:24] jeremyckahn commented on #111
[`2.7.2`](https://github.com/jeremyckahn/shifty/releases/tag/v2.7.2) has been published, which fixes this issue. I'll add a bit of unit testing around the linked list implementation this weekend for good measure, but this issue is resolved.

[2019-03-09 22:51] jeremyckahn commented on #110
I just published [`2.7.4-alpha.0`](https://unpkg.com/shifty@2.7.4-alpha.0/dist/shifty.js) which is a stable WIP implementation of the `Scene` API. I ended up removing a few APIs that I felt would result in confusing behavior (like `seek`). It can be tried out [in this CodePen](https://codepen.io/jeremyckahn/pen/qvZKbe).

I still need to document this and add some explanation around what `Scene` is

[2019-03-09 23:42] jeremyckahn commented on #110
After playing with this a bit more, I think batched `Tweenable#tween` and `Tweenable#resume` operations need to be separate, so I brought back `Scene#resume` in [`2.7.4-alpha.1`](https://unpkg.com/shifty@2.7.4-alpha.1/dist/shifty.js).

[2019-03-10 18:26] jeremyckahn commented on #110
I just published [`2.7.4-alpha.2`](https://unpkg.com/shifty@2.7.4-alpha.2/dist/shifty.js), which includes [a fix for re-tweening paused tweens](https://github.com/jeremyckahn/shifty/commit/ff4cdf5e471c184184a9e6045930f9593bf7c671). I updated [the CodePen](https://codepen.io/jeremyckahn/pen/qvZKbe?editors=1011) to demo more of the `Scene` playback APIs.

[2019-03-10 18:42] 4ian commented on #110
Sweet! I'll give it a try in GDevelop tween extension asap, probably tomorrow evening :)

[2019-03-16 10:20] andru opened #112 "Module exports not working correctly with default gatsby webpack config"
Using the default webpack config provided by [gatsby](https://github.com/gatsbyjs/gatsby), importing tween from shifty using the es6 import statement `import {tween} from 'shifty'` I'm running into the error `Object(...) is not a function` because `tween` is `undefined`.

If I import the default export from the  `shifty` module, I can access tween at `shifty.shifty.tween`:

[code]

just to clarify

[2019-03-16 17:06] jeremyckahn commented on #112
Hi @andru, thanks for opening this issue, and for debugging it as much as you have! It's not immediately clear to me what's causing this, but it may be related to the [recent upgrade to Webpack 4](https://github.com/jeremyckahn/shifty/commit/84b030fe06f627ab3fa593eb06ae831e8d4416b4) and [subsequent change to generate separate browser and Node bundles](https://github.com/jeremyckahn/shifty/commit/5

[2019-03-16 17:41] jeremyckahn commented on #112
FYI, I attempted to reproduce this locally from a fresh Gatsby site install (`npx gatsby new my-blazing-fast-site`). I made these changes:

[code]

The `tween` function loads and runs in my browser and everything appears to be working as expected. I have never used Gatsby before though, so perhaps this is not effectively reproducing the issue you're experiencing.

[2019-03-17 11:49] andru commented on #112
Iiiiinteresting. I'm using a different the [gatsby-universal](https://github.com/fabe/gatsby-universal) starter template, which shows this issue fresh out of the box, but you're quite right that the issue doesn't exist with the [default starter template ](https://github.com/gatsbyjs/gatsby-starter-default). Thanks for taking the time to have a look at that, I should have thought to try it on the d

[2019-03-17 12:23] andru commented on #112
Hunted the issue down to [directory-named-webpack-plugin](https://www.npmjs.com/package/directory-named-webpack-plugin), which resolves to filenames matching their parent directory. I'm not entirely clear why it's a problem for this library, since the relevant files in this repo are `dist/shifty.js` and `dist/shifty.node.js`, and yet more confusingly it seems to be preferring the latter, but....

[2019-03-17 13:00] #112 closed

[2019-03-17 16:02] jeremyckahn commented on #112
Oh great, I'm glad you got to the root of the issue! This all makes sense. Thanks for following up with this, @andru. I'm glad to have helped! 🙂

[2019-03-19 02:09] #110 closed

[2019-09-26 20:23] 4ian opened #113 "IE11 compatibility (Usage of Symbol)"
Hi!

I've seen that Shifty officially supports Evergreen browsers, Safari, and Node. While using it in GDevelop, users have issue running it in IE11: https://github.com/4ian/GDevelop/issues/1239 - `Symbol` being unsupported in IE11 and used in the build of Shifty that is bundled with GDevelop.

I'm wondering if it's a matter of rebuilding the library with the proper polyfills, or if there is any o

[2019-09-26 21:28] jeremyckahn commented on #113
Hi @4ian, thanks for opening this issue! Sorry for the IE trouble. Shifty does not make direct use of `Symbol`, but after looking at [the compiled build artifact](https://unpkg.com/shifty@2.8.0/dist/shifty.js), it seems that it's implicitly being used as a result of [the `for...of` transpilation](https://github.com/jeremyckahn/shifty/blob/bbe851c085b01d7e971c5b64d7b402e98c4faee6/src/tweenable.js#L

[2019-09-26 21:44] 4ian commented on #113
Thanks for quick answer!
We use a [version](https://github.com/4ian/GDevelop/blob/master/Extensions/TweenBehavior/shifty.js) that I think you compiled yourself at the time the Scene API was implemented. According to the version number, that would be the same as the one you linked - so to answer your question: the published Shifty build artifact directly.

I was also thinking that Symbol would get

[2019-09-26 22:02] jeremyckahn commented on #113
I just took a look at https://jeremyckahn.github.io/shifty/doc/ in IE11 and... none of the demos work. So, this is clearly an issue with Shifty, and not GDevelop! 😅

I'd like to think that avoiding use of `for...of` is a quick fix, but the way it's used in [`_applyFilter`](https://github.com/jeremyckahn/shifty/blob/bbe851c085b01d7e971c5b64d7b402e98c4faee6/src/tweenable.js#L258) seems like a practi

[2019-09-26 22:13] 4ian commented on #113
Yeah I think waiting for one week is not problem at all 👍Nothing particularly urgent on GDevelop side, as IE11 support was always a best effort.

[2019-10-01 02:57] jeremyckahn commented on #113
This appears to be an unresolved issue in Babel itself: babel/babel#7597. I saw [this comment](https://github.com/babel/babel/issues/7597#issuecomment-388211968) which suggests using https://babeljs.io/docs/en/babel-polyfill to implement `Symbol`. It seems that polyfilling should generally be an application concern rather than a library concern so that libraries can stay lean and focused.

@4ian,

[2019-10-01 13:55] jeremyckahn commented on #113
Update: I have confirmed that Shifty works without modification in IE11 with the correct polyfills loaded ahead of time. I forked one of the documentation demos, converted it to ES5, and loaded this polyfill bundle from https://polyfill.io:

[code]

Here's the forked Pen: https://codepen.io/jeremyckahn/pen/RwbzvEj (open in debug mode to see it working in IE11).

This seems to be a reflection of th

[2019-10-01 15:09] 4ian commented on #113
Yeah I think it's fair to do this. Thanks for the investigation! I guess a note in the README or in a "compatibility" documentation page is a good idea - could be enhanced by others later if other browsers have issues/quirks.

Yeah, would need to see if we want to support IE11 at all in GDevelop in this regard. I'll take a look at how I can add a lightweight polyfill for `Symbol` for now to have a

[2019-10-02 01:50] #113 closed

[2019-10-02 01:52] jeremyckahn commented on #113
Documentation has been updated and this issue has been closed. Thanks again @4ian for reporting and working with me on this!

[2019-11-08 16:21] #98 closed

[2019-11-08 16:23] jeremyckahn commented on #63
Closing this due to inactivity. I'm happy to reopen this for a PR, in case anyone is interested in providing one.

[2019-11-08 16:23] #63 closed

[2019-11-08 16:24] jeremyckahn commented on #68
Closing this due to inactivity. Happy to reopen this to accept a PR, though!

[2020-05-11 21:45] kimmobrunfeldt opened #114 "Default import issue"
Hi,

I'm forwarding an issue mentioned in progressbar.js. The gist is here: https://github.com/kimmobrunfeldt/progressbar.js/issues/256

This import exmaple doesn't seem to work (I quickly tested with node shell):

[code]

[2020-05-11 22:14] jeremyckahn commented on #114
Hi @kimmobrunfeldt! Thanks for logging this issue. I think this is a result of my bundling of Shifty for ES6 environments. I think the most practical solution for CommonJS loaders is to do what @RoyMudie did here: https://github.com/kimmobrunfeldt/progressbar.js/issues/256#issuecomment-598230415

...Which sure enough reveals [an error in my documentation](https://github.com/jeremyckahn/shifty#load

[2020-05-12 01:21] #114 closed

[2020-05-13 23:04] jeremyckahn opened #116 "Improve tween canceling semantics"
Per https://github.com/jeremyckahn/shifty/pull/115#issuecomment-628289650, all cancelled tweens are treated as errors and that's heavy-handed to the point of being unhelpful.

Task: Improve the API semantics around tweens that get canceled early.

[2020-06-23 02:41] jeremyckahn commented on #114
Note: This should be improved in 2.9.1: All modules are now published as ES6 modules. https://github.com/jeremyckahn/shifty/commit/3180c28345a2c10e44aca37a21a18b63c10814ab

[2020-08-06 07:07] kylewetton opened #117 "Browser is currently crashing the tab if I call .tween on a Tweenable instance while it's currently tweening the previous call"
I'm currently using "shifty": "^2.9.1",

I'm animating several axis of a 3D model, tween() by itself works great in that I can throw multiple tweens at it at once for difference axis and they all happily animate at the same time.

The downside of this however is I don't have a way of checking isPlaying.

Imagine this use case.

An function calls tween() that slowly rotates the model by 180 degrees

[2020-08-06 16:10] jeremyckahn commented on #117
Hi @kylewetton, thanks for using Shifty and opening this issue! The detail you've provided is very helpful. There's a few different things to unpack here, so I'll address each one.

Typically this is true, but I built in a small escape hatch to get access to the underlying `Tweenable` instance if it's needed: https://github.com/jeremyckahn/shifty/blob/b85b9913e4953ad0537d02615b80811d82086ef8/src/t

[2020-08-06 18:16] jeremyckahn commented on #117
@kylewetton Update: I've reproduced the freeze and I'm working on a fix!

[2020-08-06 18:53] #117 closed

[2020-08-06 19:04] jeremyckahn commented on #117
This issue is fixed in the new [`2.9.2` release](https://github.com/jeremyckahn/shifty/releases/tag/v2.9.2)!

Here's a CodePen that works under `2.9.2` but was broken under `2.9.1`: https://codepen.io/jeremyckahn/pen/GRZgqXr

Thank you again @kylewetton for reporting this issue and helping me get to the bottom of it with your excellent writeup!

[2020-08-07 04:46] kylewetton commented on #117
Legend, thanks so much dude

[2020-08-07 04:50] kylewetton commented on #117
By the way, here's the WIP app I'm building with Shifty as the basis for all animations

https://deviceful.app/

[2020-08-07 14:45] jeremyckahn commented on #117
@kylewetton this app is so cool! I can see it being really useful for product and graphic designers. I'm glad to know that Shifty is working well for you here, and I can't wait to see where you take this tool! 😃

[2020-08-14 18:51] #116 closed

[2020-08-15 16:34] jeremyckahn opened #118 "Better config reuse"
`Tweenable` instances don't reuse much config data from tween to tween (only the position data currently). `Tweenable` should automatically store are reuse function properties like `start` and `step` (and perhaps some others as well) and reuse them in subsequent tweens.

Proposed use case:

[code]

See:
  - https://jeremyckahn.github.io/shifty/doc/shifty.html#.tweenConfig
  - https://codepen.io/je

[2020-08-16 15:26] jeremyckahn opened #119 "Set up CI/CD"
Currently all testing and deployment workflows take place on local development machines. These should take place in remote CI/CD environments.

See:

  - https://docs.travis-ci.com/user/deployment/npm/

[2020-08-16 15:35] jeremyckahn opened #120 "Bundle all `resolve`d Promise data"
Currently, `resolve`d `Promise` data is spread across formal parameters:

https://github.com/jeremyckahn/shifty/blob/ed1504ce9dd24da411b2e3eddfa5a69d45809486/src/tweenable.js#L490

It should be bundled into the first argument so that it can accessed via `await`. Additionally, the `Tweenable` instance should be provided to `resolve`. Theoretically, along with #118, this code would be possible with

[2020-08-16 17:39] #119 closed

[2020-08-16 22:33] jeremyckahn opened #121 "Rename `step` to `render`"
`render` is a better name. `step` should be supported for legacy purposes.

[2020-08-16 23:08] #118 closed

[2020-08-16 23:08] #120 closed

[2020-08-16 23:08] #121 closed

[2020-08-19 16:38] jeremyckahn opened #122 "Tween Promise canceling"
Currently, tween `Promise`s never reject. There needs to be a `cancel()` method to support this sort of use case:

[code]

[2020-08-19 17:15] jeremyckahn opened #123 "data access method"
`Tweenable` needs a method to get and set its internal `_data` property.

[2020-08-19 17:53] #122 closed

[2020-08-19 17:53] #123 closed

[2020-12-24 03:00] Hilbertangers opened #129 "error in '2.15.0' from UglifyJs"
dist/shifty.js   appear es6 arrow function  **()=>**

![image](https://user-images.githubusercontent.com/21299424/103056253-633a9180-45d7-11eb-9678-33014b892812.png)

[2020-12-24 03:13] jeremyckahn commented on #129
Yikes! Thank you for reporting this. It’s almost certainly due to the [recent upgrade to Webpack 5](https://github.com/jeremyckahn/shifty/commit/f99630160f81dbfd0e738164c3e0a13fdd65e986). I’ll prioritize a fix for this and follow up when I have something!

[2020-12-24 04:46] #129 closed

[2020-12-24 04:52] jeremyckahn commented on #129
This should be fixed in [`v2.15.1`](https://github.com/jeremyckahn/shifty/releases/tag/v2.15.1). Please let me know if you run into any other issues. Thanks again for reporting this @Hilbertangers!

[2021-10-15 22:09] tfsJoe opened #133 "Tweenable does not seem to be reusable"
In the [documentation here](https://jeremyckahn.github.io/shifty/doc/tutorial-getting-started.html), there is an example of configuring a Tweenable, and calling `.tween()`. There is a comment that says:

So, I attempted to reuse a Tweenable, by calling .tween() again. However, the result was, for the duration set in the config, the final value is always used in the `render` callback. Here is an ex

[2021-10-15 23:31] jeremyckahn commented on #133
Hi @tfsJoe, this is an excellent bug report! Thanks for opening it. I just tried to reproduce this issue in CodePen and am seeing the same behavior: https://codepen.io/jeremyckahn/pen/zYdrNZz?editors=1111

`tween` doesn't restart a tween from the beginning, although I can see why that would be assumed. Here's the source for that function: https://github.com/jeremyckahn/shifty/blob/520ba431598d3c8e

[2021-10-18 13:41] #133 closed, assigned to nobody

[2021-11-15 14:32] jeremyckahn commented on #68
It looks like there has been some work started in relation to this in https://github.com/4ian/GDevelop/pull/3218: https://github.com/4ian/GDevelop/pull/3218/files#r749378411

[2021-11-27 14:47] hoomanaskari opened #136 "Interpolating arrays and support for rgba values"
Hi,

I really love what you have done here.

I have 1 small issue with Shifty, however. I cannot interpolate an array of numbers, and if I use `Array.join` to use the string interpolation, I can only use an array of length <= 3 (which I think is related to RGB support and the fact that RGBA is not yet supported) I think it would be a nice addition to this library.

If for example, I use an array o

[2021-11-27 15:56] jeremyckahn commented on #136
Hi @hoomanaskari, thanks for checking out Shifty and opening this issue! I didn't realize that Shifty didn't support RGBA colors, but after some quick testing I can see that you're right. Sorry about that! I don't have much time for active Shifty development these days, but I will try to get in a fix for that soon. Feel free to make a PR if you don't want to wait though, and I'll work with you to

[2021-11-28 14:47] hoomanaskari commented on #136
Thanks for responding back @jeremyckahn.

The array interpolation in my case is for a rectangle with 4 corner radius values, I would like to be able to animate those values separately (or all at once) in the canvas.

I am using Rekapi to make timelines, so right now the only way to do it is by adding 4 separate keyFrames, one for each corner. While it works, it's not the ideal solution for it, esp

[2021-11-28 19:18] jeremyckahn commented on #136
Ah, I see. Would it be feasible to tween an object that looks something like:

[code]

And apply those values as necessary in your `render` function? If necessary, I think a custom Shifty [`filter`](https://jeremyckahn.github.io/shifty/doc/shifty.Tweenable.html#.filters) could be implemented for your project to support arrays as you're describing, but I feel that might be overkill for your needs.

[2021-11-29 14:59] hoomanaskari commented on #136
Wow, thanks for the tweet, and thanks for the extensive answer.

I poked around the code a bit, and you were right, the RGBA support might need a little bit of time to set it up and running. I will come back to it if I needed it in my project. (I may be able to get away with it by doing some color conversion tricks).

After having a look at the `tokens.js` I realized all colors are being converted

[2021-11-30 03:55] jeremyckahn commented on #136
It's actually the other way around. Here's where the token plugin starts its lifecycle when a tween is created: https://github.com/jeremyckahn/shifty/blob/199774dc8e03b7de1a1971997193e692a5626fe1/src/token.js#L363-L371

It runs `sanitizeObjectForHexProps` to preprocess the state data: https://github.com/jeremyckahn/shifty/blob/199774dc8e03b7de1a1971997193e692a5626fe1/src/token.js#L149-L157

As you

[2021-11-30 03:55] jeremyckahn commented on #136
It's actually the other way around. Here's where the token plugin starts its lifecycle when a tween is created: https://github.com/jeremyckahn/shifty/blob/199774dc8e03b7de1a1971997193e692a5626fe1/src/token.js#L363-L371

It runs `sanitizeObjectForHexProps` to preprocess the state data: https://github.com/jeremyckahn/shifty/blob/199774dc8e03b7de1a1971997193e692a5626fe1/src/token.js#L149-L157

As you

[2021-11-30 08:52] hoomanaskari commented on #136
Thanks as always for the extensive explanation.

I have some good news. The bug with RGBA was in my codes not in yours. I tried again today to compare the results with Shifty and RGBA is working perfectly fine. I think both Shifty and Rekapi are more perfect than we thought :D

I think we can close this issue now. I will keep on working on the array/object enumeration, if I come up with something

[2021-11-30 14:49] jeremyckahn commented on #136
I'm so glad to hear that! I made a Codepen to test the functionality, and indeed it's tweening the `rgba` values correctly: https://codepen.io/jeremyckahn/pen/BawBjbR

I'm actually a little surprised to see this working as well as it is since `rgb` values are handled as a special case in the code whereas `rgba` values are not. The token filter supports arbitrary string formats, so perhaps explicit

[2021-12-01 14:48] #136 closed

[2021-12-01 14:57] jeremyckahn commented on #136
@hoomanaskari I realized why the RGB code was needed: It was preventing `rgb` strings from having decimal values. However, Shifty was not handling `rgba` values appropriately. That's been fixed by #137 and released as [`v2.16.1`](https://github.com/jeremyckahn/shifty/releases/tag/v2.16.1)!

Thanks for bringing this to my attention! 🙂

[2021-12-01 15:41] hoomanaskari commented on #136
Oh wow, that was fast, thank you for fixing it :)

[2021-12-08 14:50] #68 closed

[2021-12-09 12:25] hoomanaskari commented on #92
@jeremyckahn Are custom bezier easings coming? I saw something very interesting here: https://github.com/jeremyckahn/shifty/blob/develop/src/bezier.js

As I am currently working on this feature in Artboard Studio, is there any timeframe on when this will be released? Any docs for it also?

[2021-12-09 14:47] jeremyckahn commented on #92
There are public APIs for adding and removing custom Bezier easings here:
  - https://jeremyckahn.github.io/shifty/doc/shifty.html#.setBezierFunction
  - https://jeremyckahn.github.io/shifty/doc/shifty.html#.unsetBezierFunction

I made a little widget a few years ago that utilizes these APIs to modify a custom Shifty easing curve. It's pretty outdated now and not particularly portable anymore, but

[2021-12-10 09:35] hoomanaskari commented on #92
Thanks, Jeremy, that is super helpful.
Let's see what I can come up with this one, I am sure there is a way to make work in our app too.

[2022-08-06 05:23] BoldBigflank opened #156 "Jest detecting open handle from shifty require"
When I load shifty like so
[code]
My jest tests that load this module will not exit properly.  When I run
[code]
The result suggests that the `require` is a "open handle potentially keeping Jest from exiting".

I'm kind of inexperienced in this, but does this make sense even though there isn't really any Promise/async stuff happening in the require?

[2022-08-06 16:39] jeremyckahn commented on #156
Hi @BoldBigflank, thanks for reporting! This isn't an issue I've seen before. Based on the error you're seeing, I would assume that it's related to a `tween`'s `Promise` not being resolved appropriately, but you mentioned that you're not doing any asynchronous work so that wouldn't make sense.

What happens when you use ES module syntax? So, try converting from:

[code]

To:

[code]

That should b

[2022-08-06 22:20] BoldBigflank commented on #156
I still have the issue with shifty when I have the most bare bones example:
[code]
Here's the stack trace:
[code]

I suppose since the test is so simple, it might be something in the Jest config...

[2022-08-06 22:32] jeremyckahn commented on #156
Thanks for this additional information! I am seeing this as well, but only on Jest version 28. On version 27 and below, I do not see the error. I wonder if this is a Jest bug? In any case, I'll do some more exploration to see if there's something that can be changed within Shifty to prevent this issue.

[2022-08-06 22:34] jeremyckahn commented on #156
I'm experiencing this issue within Shifty's own tests when I upgrade to Jest 28. I'll explore a fix!

[2022-08-06 22:51] BoldBigflank commented on #156
When I checked I was using Jest v27.5.1, and for some reason attempting to get to 27.0.1 always installs 27.5.1. Thanks for checking this out, I'm glad it's not just me with this issue.

[2022-08-06 22:54] jeremyckahn commented on #156
For sure! Thanks again for reporting. Just to share, I upgraded Jest to version 28. When I run `CI=true npx jest --detectOpenHandles`, I get:

[code]

So I think there's something that can change within Shifty to address this. I'm still digging!

[2022-08-06 22:57] jeremyckahn commented on #156
I think this is because Shifty uses a continuous heartbeat to run pending animations: https://github.com/jeremyckahn/shifty/blob/e4d6b404ece5161cf057f8b841e9a79936dfe1a7/src/tweenable.js#L212-L217

It gets kicked off here: https://github.com/jeremyckahn/shifty/blob/e4d6b404ece5161cf057f8b841e9a79936dfe1a7/src/tweenable.js#L822

This is core to Shifty's design, but it runs afoul of what Jest is exp

[2022-08-07 00:11] jeremyckahn commented on #156
@BoldBigflank I've got a bugfix in the works at #157. I also published a pre-release version of Shifty (`2.19.0-0`). Would you mind installing that version (`npm i --save 2.19.0-0`) and seeing if adding something like the following to your Jest setup file addresses the issue for you?

[code]

[2022-08-07 01:40] BoldBigflank commented on #156
I tried out 2.19.0-0 and added the afterAll to the barebones test, and that completes with no errors, which is great. With this setup, I'd likely just add `shouldScheduleUpdate(false)` to the modules that import `interpolate` since that's the only function we're using (creating gifs on the back end, not real time, so syncing isn't important).

[2022-08-07 03:13] jeremyckahn commented on #156
Awesome, thank you for checking @BoldBigflank. A more narrowly-scoped use of `shouldScheduleUpdate(false)` should work just fine. I will release the fix in `2.19.0`!

[2022-08-07 03:14] #156 closed